<div class="products_all">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="left">
            <div style="padding-top:3px; padding-bottom:2px;">
                <span style="font-weight:bold;font-size:14px">Chọn danh mục</span>: 
                <select name="category_fillter" class="category_list" onchange="window.open('san-pham.html&order=1&catId='+ this.options[this.selectedIndex].value,'_top')">
                <option value="#">Tất cả danh mục</option>
                {loop="product_category[0]"}
                	<option value="{$value.id}">&nbsp;&nbsp;&nbsp;- {$value.title}</option>
                    	{loop="product_category[$value.id]"}
                        	<option value="{$value.id}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- {$value.title}</option>
                        {/loop}
                {/loop}
        </select>
            </div>
        </td>
        <td align="right"><b><i></i></b></td>
    </tr>
</table>

  
<table width="100%" border="1" 
style="border-collapse:collapse;font-size:12px;border-color:#cecece" 
cellpadding="3" cellspacing="0">
    <tr style="font-weight:bold;font-size:12px; background-color: #1e93ff;color: #fff">
        <td width="60" align="center">STT</td>
        <td>Tên sản phẩm
            <select style="font-size:11px;" name="inorder" onchange="window.open('san-pham.html&catId=0&inorder='+ this.options[this.selectedIndex].value,'_top')">
            <option value="#">::: Sắp xếp theo ::</option>
                    <option value="1">Thứ tự A-Z</option>
                    <option value="2">Thứ tự Z-A</option>
            </select>
	</td>
        <td width="150">Giá :
			<select style="font-size:11px;width: 120px" name="inorder" onchange="window.open('san-pham.html&catId=0&inorder='+ this.options[this.selectedIndex].value,'_top')">
                            <option value="#" style="width: 100px">::: Sắp xếp theo ::</option>
				<option value="price-up">Giá tăng dần</option>
				<option value="price-down">Giá giảm dần</option>
			</select>
	</td>
        <td width="80" align="center">Tình trạng</td>
        <td width="100" align="center">Bảo hành</td>
        <td width="120" align="center">Giỏ hàng</td>
    </tr>

  {$start_count_product = 0}
  {loop="product_category[0]"}
    
       <tr bgcolor="#f7f7f7" style="font-size:12px">
                <td colspan="6" style="border-color:#cecece">
                        <div align="center"><a href="{$value.url}" style="text-transform: uppercase"><b style="color:#cc0000;font-family: Tahoma,Arial,Helvetica,sans-serif">{$value.title}</b></a></div>
                </td>
       </tr>
       {loop="product_category[$value.id]"}
          <tr bgcolor="#f7f7f7" style="font-size:12px">
                <td colspan="6" style="border-color:#cecece"><a href="{$value.url}"><b style="color:#0099ff;font-family: Tahoma,Arial,Helvetica,sans-serif">{$value.title}</b></a></td>
            </tr>
            
          {if="sizeof($product_category[$value.id]) > 0"}
            {loop="product_category[$value.id]"}
              <tr bgcolor="#f7f7f7" style="font-size:12px">
                  <td colspan="6" style="border-color:#cecece"><a href="{$value.url}"><b style="color:#0099ff;font-family: Tahoma,Arial,Helvetica,sans-serif">{$value.title}</b></a></td>
              </tr>
              {loop="product_list[$value.id]"}
                    {$start_count_product = $start_count_product + 1}
                    <tr>
                            <td style="border-color:#cecece">{$start_count_product}</td>
                            <td style="border-color:#cecece"><a style="color:#333" href="{$value.productUrl}" title="{$value.productName}">{$value.productName}</a></td>
                            <td style="border-color:#cecece"><div><span class="price_vnd">{$value.priceFormat} VND</span></div></td>
                      <td style="border-color:#cecece" align="center">{if="$value.quantity > 0"}Còn hàng{else}Vui lòng gọi{/if}</td>
                            <td style="border-color:#cecece" align="center">{$value.warranty}</td>
                            <td style="border-color:#cecece" align="center">
                                <div><a href="javascript:;" onclick="javascript:addToShoppingCart('pro','{$value.id}',1,'{$value.price}');"><img src="{#IMAGE_PATH#}cart_icon.jpg" alt="" /></a></div>
                             </td>
                        </tr>
                {/loop}
            {/loop}
  
          {else}
  
              {loop="product_list[$value.id]"}
                  {$start_count_product = $start_count_product + 1}
                  <tr>
                          <td style="border-color:#cecece">{$start_count_product}</td>
                          <td style="border-color:#cecece"><a style="color:#333" href="{$value.productUrl}" title="{$value.productName}">{$value.productName}</a></td>
                          <td style="border-color:#cecece"><div><span class="price_vnd">{$value.priceFormat} VND</span></div></td>
                    <td style="border-color:#cecece" align="center">{if="$value.quantity > 0"}Còn hàng{else}Vui lòng gọi{/if}</td>
                          <td style="border-color:#cecece" align="center">{$value.warranty}</td>
                          <td style="border-color:#cecece" align="center">
                              <div><a href="javascript:;" onclick="javascript:addToShoppingCart('pro','{$value.id}',1,'{$value.price}');"><img src="{#IMAGE_PATH#}cart_icon.jpg" alt="" /></a></div>
                           </td>
                      </tr>
              {/loop}
  
           {/if}
  
      {/loop}
  
    
  {/loop}
          
    
</table>
  
</div>  