<h3>Thay đổi mật khẩu</h3>

{if="$change_password.status == 'ok'"}
  <p style="font-weight:bold; color:#03f">Bạn đã thay đổi mật khẩu thành công !</p>
{elseif="$change_password.error != ''"}
  <p style="color:#f00"><b>Lỗi xảy ra</b>: {$change_password.error}</p>
{/if}

<form method="post" enctype="multipart/form-data" name="account_form">

<table cellpadding="5" border="1" bordercolor="#CCCCCC" style="border-collapse:collapse;">
	<tr>
		<td width="120px">Mật khẩu hiện tại</td>
		<td><input type="password" name="currentpassword" id="currentpassword" size="30"/></td>
	</tr>
	<tr>
		<td>Mật khẩu mới</td>
		<td><input type="password" name="newpassword" id="newpassword" size="30"/></td>
	</tr>
	<tr>
		<td>Nhập lại mật khẩu</td>
		<td><input type="password" name="renewpassword" id="renewpassword" size="30"/></td>
	</tr>
</table>
<input type="hidden" name="update" value="yes">
<div style="padding-top:5px; padding-bottom:10px;"><input type="submit" value="Thay đổi"/></div>
<p>&nbsp;</p>

 </form>