<h3>Thông tin cá nhân</h3>

<table cellpadding="5" border="1" bordercolor="#CCCCCC" style="border-collapse:collapse; width:100%">
	<tr>
		<td width="120px">Họ tên</td>
		<td >{$account_info.name}</td>
	</tr>
	<tr>
		<td>Giới tính</td>
		<td>{$account_info.sex}</td>
	</tr>
	<tr>
		<td>Địa chỉ email</td>
		<td>{$account_info.email}</td>
	</tr>	
	<tr>
		<td>Địa chỉ nhà</td>
		<td>{$account_info.address}</td>
	</tr>
	<tr>
		<td>Tỉnh/TP</td>
		<td>{$account_info.province}</td>
	</tr>
	<tr>
		<td>Số điện thoại</td>
		<td>{$account_info.tel}</td>
	</tr>
	<tr>
		<td>Số di động</td>
		<td>{$account_info.mobile}</td>
	</tr>
</table>
<div style="padding-top:10px; font-weight:bold;"><img src="/includes/images/tron.gif" /> Để sửa thông tin, vui lòng <a href="?view=account-change-info">click vào đây</a></div>
