<div class="mainsub">
    <!---->
    <div class="pagesub3">

        <div class="lead_sub"><a href="/">Trang chủ</a> > <a href="">Giỏ hàng</a></div>

        <div class="clear"></div>

        <div class="clear"></div>
        <div class="lead_row7">
            <span class="sub8">Giỏ hàng của quý khách</span>
        </div>

        <div style="padding: 0 10px;">


           {if="$shopping_cart_step == 1"}      
                <h3>Bước 1</h3>
           {elseif="$shopping_cart_step == 2"}
                <h3>Bước 2</h3>
           {/if}


            <div style="font-weight:bold;font-family:Tahoma; font-size:12px">Hướng dẫn:</div>
            <ul style="font-family:Tahoma; font-size:12px; line-height:18px;padding-left: 15px;margin: 10px 0;">
                <li>Để cập nhật số lượng sản phẩm cần mua, vui lòng điền số lượng vào ô tương ứng rồi, trang web sẽ tự động cập nhật lại tổng giá trị mới nhất cho quý khách.</li>
                <li>Nếu quý khách không muốn đặt mua sản phẩm nữa, click Xóa để loại bỏ sản phẩm</li>
                <li>Khi quý khách thỏa mãn với đơn hàng của mình, vui lòng click nút <b>Gửi đơn hàng</b>.</li>
            </ul>
            <!---->
      
       
	<form method="post" enctype="multipart/form-data" action='/gui-don-hang' onsubmit="return checkCartForm()">
           
           
           
            <table id='table-shopping-cart' cellpadding='5' border='1' bordercolor='#CCCCCC' width="100%">
                <tr id='shopping-cart-first-row'>
                    <td id='shopping-cart-stt-col'>STT</td>
                    <td>Sản phẩm</td>
                    <td id='shopping-cart-price-col'>Giá bán</td>
                    <td id='shopping-cart-quantity-col'>Số lượng</td>
                    <td id='shopping-cart-sum-col'>Thành tiền</td>

                    <td id='shopping-cart-del-col'>Xóa</td>
                </tr>
			
            {$start_counter = 0}
            {loop="shopping_cart_item"}
            	{$item_type = $key}
                {loop="shopping_cart_item[$item_type]"}
                    <tr>
                        <td>{$start_counter += 1}</td>
                        <td>
                        	{if="$value.url != ''"}
                            	<img src="{$value.image}" /> <a href="{$value.url}"><b>{$value.name}</b></a>
                            {else}
                            	<b>{$value.name}</b>
                            {/if}
                            {if="$value.information != ''"}
                            	<br />{$value.information}
                            {/if}
                        </td>
                        <td><span id='sell_price_{$item_type}_{$value.id}'>{$value.price|format_price}</span> VND </td>
                        <td><input name='quantity_{$item_type}_{$value.id}' id='quantity_{$item_type}_{$value.id}' value='{$value.quantity}' onchange="updatePrice('{$item_type}','{$value.id}',this.value)" size='10' /></td>
                        <td><span id='price_{$item_type}_{$value.id}'>{$value.totalPrice|format_price}</span> VND</td>
    
                        <td><a href="javascript:deleteShoppingCartItem('{$item_type}','{$value.id}','{$value.quantity}','{$value.price}')">Xóa</a></td>
                    </tr>
                {/loop}
            {/loop}

                <tr>
                    <td colspan='4' align='right'>Tổng giá trị : </td>
                    <td colspan='2'><b><span id='total_value'>{$shopping_cart_total|format_price}</span> VND</b></td>
                </tr>
            </table>
            <div class='spacer'></div>
            <br />
            <input type="hidden" name="item_update_quantity" id="item_update_quantity" value="{$shopping_cart_id}" />
            <input type="hidden" name="update_quantity" value="yes" />
            <input type="hidden" name="total_cart_value" id="total_cart_value" value="{$shopping_cart_total}" />
            <br />

            <div class="b_shop chudam">
                <!--<a href="#buy7">Đặt hàng</a>-->
                <a href="/">Tiếp tục mua hàng</a>
            </div>

        {if="$is_customer_login =='yes' "}

            <div id="buy7" style="font-size:16px; padding-bottom:10px;">Chào bạn, {$customer_info.name} ! Vui lòng kiểm tra thông tin của bạn dưới đây để gửi đơn hàng: </div>

            {else}

            <div id="buy7" style="font-size:16px; padding-bottom:10px;">Để tiện cho việc xử lý đơn hàng, vui lòng điền đầy đủ thông tin. Bạn có thể <a href='/dang-nhap?return_url=/gio-hang'>đăng nhập</a> để mua hàng nếu đã có tài khoản.</div>

        {/if}

            <table class="frm_submit" style="font-size: 12px;">
                <tr>
                    <td>Họ tên <span class="sub1">*</span></td><td><input type="text" size="50" name="buyer_name" id="buyer_name" value="{$customer_info.name}" /></td>
                </tr>
                <tr>
                    <td>Địa chỉ Email</td><td><input type="text" size="50" name="buyer_email" id="buyer_email" value='{$customer_info.email}' /></td>
                </tr>
                <tr>
                    <td>Điện thoại <span class="sub1">*</span></td><td><input type="text" size="20" name="buyer_tel" id="buyer_tel" value='{$customer_info.tel}' /> - Di động <input type="text" size="15" name="buyer_mobile" id="buyer_mobile" value='{$customer_info.mobile}' /></td>
                </tr>
                <tr>
                    <td>Địa chỉ <span class="sub1">*</span></td><td><textarea cols="40" rows="2" name="buyer_address" id="buyer_address">{$customer_info.address}</textarea></td>
                </tr>
                <tr>
                    <td>Yêu cầu thêm</td><td><textarea cols="40" rows="5" name="buyer_note" id="buyer_note"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        Phần đánh dấu (<span class="sub1">*</span>) là yêu cầu bắt buộc phải cung cấp ghi gửi đơn hàng.<br />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        “Để nhân viên bán hàng kiểm tra hàng chính xác nhất, Quý khách nên điền thêm đầy đủ thông tin của món hàng vào cột “Yêu cầu thêm” . <br />
                        Cảm ơn quý khách đã đến với chúng tôi !
                    </td>
                </tr>
            </table>

            <br />


            <input type="hidden" name="send_order" value="yes" />
            <div align="left"><input type="submit" value="Gửi đơn hàng >>" /></div>
       
       </form>
        
            <!---->
        </div>
    </div>
    <!---->
</div>
<script type="text/javascript">
    function check_field(){
        var error = "";
        var check_name = document.getElementById('buyer_name').value;
        if(check_name.length < 4) error += "- Bạn chưa nhập tên\n";

        var check_add = document.getElementById('buyer_address').value;
        if(check_add.length < 10) error += "- Bạn chưa nhập địa chỉ";
        //var check_note = document.getElementById('buyer_note').value;
        //if(check_name.length < 4) error += "- Bạn chưa nhập tên\n";
        if(error != "") {
            alert(error); return false;
        }
        return true;
    }
</script>