<div class="fck_detail width_common">
                        <p class="Normal">
	<span>Trước việc Trung Quốc di chuyển giàn khoan Hải Dương 981 đến địa điểm mới nhưng vẫn nằm hoàn toàn trong vùng đặc quyền kinh tế của Việt Nam, Thủ tướng Nguyễn Tấn Dũng đã nêu ba nhóm giải pháp đấu tranh trong cuộc họp thường kỳ của Chính phủ sáng 29/5.</span></p>
<p class="Normal">
	<span style="color:#696969;"><span><strong>Trên thực địa,</strong></span></span><span> các tàu chấp pháp Việt Nam phải luôn có mặt tại vị trí mới để cản phá và đẩy đuổi tàu Trung Quốc họat động trái phép. “Sẽ có va chạm, nhưng chúng ta kiên quyết và cố gắng kiềm chế”, Thủ tướng yêu cầu và cho hay hơn 30 tàu của các lực lượng chấp pháp Việt Nam đã bị tàu Trung Quốc đâm va, gây hỏng hóc. </span><span>Thủ tướng đánh giá cao sự có mặt thường xuyên của hàng chục tàu cá gần khu vực này để góp phần khẳng định chủ quyền Tổ quốc.</span></p>
<table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" ><tbody><tr><td>
				<a href="http://vnexpress.net/infographic/thoi-su/trung-quoc-di-chuyen-gian-khoan-981-2996512.html"><img data-natural- src="http://m.f29.img.vnecdn.net/2014/05/29/Haiyang1-1951-1401362872.jpg" alt="Haiyang1-1951-1401362872.jpg"></a></td>
		</tr><tr><td>
				<p class="Image">
					Vị trí mới của giàn khoan Haiyang 981vẫn nằm trong vùng đặc quyền kinh tế của Việt Nam (<a href="http://vnexpress.net/infographic/thoi-su/trung-quoc-di-chuyen-gian-khoan-981-2996512.html">xem chi tiết</a>). Đồ họa: <em>Đồng Nguyên Anh.</em></p>
			</td>
		</tr></tbody></table><p class="Normal">
	<span style="color:#696969;"><strong>Trên mặt trận ngoại giao,</strong></span> Thủ tướng khẳng định chúng ta tiếp tục kiên trì và đấu tranh đến cấp cao nhất, nói rõ hành động sai trái của Trung Quốc, yêu cầu họ phải rút giàn khoan.</p>
<p class="Normal">
	<span style="color:#696969;"><strong>Với giải pháp đấu tranh bằng con đường dư luận,</strong></span> Thủ tướng yêu cầu các cơ quan chức năng Việt Nam cần cung cấp đầy đủ, trung thực, khách quan các hành động sai trái của Trung Quốc cho cộng đồng quốc tế. “Đấu tranh pháp lý cũng là biện pháp hòa bình. Hình thức này sẽ được cân nhắc để quyết định sử dụng vào thời điểm phù hợp, theo đúng Hiến chương Liên Hợp Quốc và luật pháp quốc tế”, Thủ tướng nói thêm.</p>
<p class="Normal">
	Điểm lại các hoạt động gần một tháng qua, Thủ tướng cho biết chúng ta đã có hơn 30 cuộc giao thiệp với đại diện Trung Quốc để yêu cầu họ rút giàn khoan. Việt Nam đã công khai nói rõ, thông báo với cộng đồng quốc tế về hành vi sai trái của Trung Quốc cũng như thiện chí muốn giải quyết bằng hòa bình. Đã có những tiếng nói từ dư luận quốc tế ủng hộ giải pháp của chúng ta và lên án hành động của Trung Quốc.</p>
<p class="Normal">
	Theo Phó trưởng ban Tuyên giáo Trung ương Nguyễn Thế Kỷ, 4 hãng thông tấn và 14 tờ báo quốc tế đã cử phóng viên đưa tin về việc Trung Quốc hạ đặt giàn khoan trái phép.</p>
<p class="Normal">
	<strong>Vẫn tích cực hợp tác kinh tế</strong></p>
<p class="Normal">
	Bên cạnh việc đấu tranh giữ chủ quyền, Việt Nam hết sức coi trọng quan hệ hợp tác hữu nghị trên các lĩnh vực khác với Trung Quốc, Thủ tướng lưu ý.</p>
<p class="Normal">
	<span>Để minh chứng cho tinh thần này, người đứng đầu Chính phủ dẫn hai ví dụ: Phó chủ tịch nước Việt Nam vẫn tham gia tích cực trong hội nghị diễn ra tại Thượng Hải; Nhà máy thép tại Lào Cai do Trung Quốc góp vốn 49% với công suất 500.000 tấn đã đi vào hoạt động.</span> <span>“Đấu tranh vì chủ quyền phải tiếp tục nhưng làm ăn thì vẫn bình thường”, Thủ tướng nói.</span></p>
<table align="center" border="0" cellpadding="3" cellspacing="0" class="tplCaption" ><tbody><tr><td>
				<img alt="laocai1-3973-1401347283.jpg" data-natural- src="http://m.f29.img.vnecdn.net/2014/05/29/laocai1-3973-1401347283.jpg"></td>
		</tr><tr><td>
				<p class="Image">
					Mẻ phôi gang đầu tiên của Nhà máy thép Lào Cai chuẩn bị ra lò. Ảnh: <em>baolaocai.</em></p>
			</td>
		</tr></tbody></table><p class="Normal">
	Bộ trưởng Công thương Vũ Huy Hoàng cho biết thêm, nhiều dự án điện, hóa chất có sự tham gia của nhà thầu Trung Quốc vẫn diễn ra, bám sát tiến độ như: Nhà máy bôxít Tân Rai do doanh nghiệp Trung Quốc làm tổng thầu EPC sắp bàn giao chính thức; Alumin Nhân Cơ đã đạt 80% tiến độ và sẽ bàn giao vào năm sau như kế hoạch; hoạt động xuất nhập khẩu tại khu vực biên giới vẫn nhộn nhịp...</p>
<p class="Normal" style="text-align:right;">
	<strong>Chí Hiếu</strong></p>                                                </div>