<!DOCTYPE html>
<html lang="vi">

<head>
    <meta content="DOCUMENT" name="RESOURCE-TYPE" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết</title>
    <meta name="keywords" content="keyword" />
    <meta name="description" content="description" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Oswald:500|Roboto:300,400,500,700&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
        crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body class="custom-pc_update">
    <header>

    </header>
    <main class="custom-pc">
        <div class="content container">
           <div class="content-main float_l w-70">
                <div class="img-detail float_l w-60">
                    <img src="assets/images/product-detail.jpg" alt="">
                </div>
                <div class="overview float_l w-40">
                    <h1 class="detail-name">PC HNC ADVANCED GAMING A4 G4400/8G/RX550</h1>
                    <div class="detail-price">Giá bán: <span>8.199.000</span></div>
                </div><!--overview-->
                <div id="tab-pro-info">
                                              
                    <div class="title-tab-pro">
                        <span data-tab='tab1' class="active">1. Cấu hình cơ bản</span>
                        <span data-tab='tab2'>2. Phụ kiện</span>
                        <span data-tab='tab3'>3. Tiện ích</span>
                    </div>
                    <div id="tab1" class="content-tab-pro" style="display:block">
                        <p>Tùy chỉnh linh kiện theo danh sách linh kiện gợi ý trước</p>
                        <section class="driver-list">
                            <div class="driver-list_top">
                                <a href="#"><i class="fas fa-external-link-alt"></i></a>
                                <h3>Mainboard</h3>
                                <span class="show-search_advanced">+ Tùy chọn nâng cao</span>
                            </div>
                            <div class="driver-list_content">
                                <div class="list_content-img">
                                    <img src="assets/images/product-4.jpg" alt="">
                                </div>
                                <div class="driver-list_item">
                                    <a href="#"><h4 class="item-name">Mainboard GIGABYTE Z370M-DS3H</h4></a><span class="btn-accordion"><i class="fas fa-angle-double-up"></i></span>
                                    <div class="list">
                                        <div class="item">
                                            <input type="radio" name="main" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-img="assets/images/product-2.jpg"  data-url="123" value="Mainboard Asus PRIME B250M-J">
                                            <span class="i-name">Mainboard Asus PRIME B250M-J</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-url="1234" value="Mainboard GIGABYTE Z370M-DS3H">
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-url="12345" value="Mainboard Asus PRIME B250M-A">
                                            <span class="i-name">Mainboard Asus PRIME B250M-A</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-img="assets/images/product-2.jpg"  data-url="123" value="Mainboard Asus PRIME B250M-J">
                                            <span class="i-name">Mainboard Asus PRIME B250M-J</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-url="1234" value="Mainboard GIGABYTE Z370M-DS3H">
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-url="12345" value="Mainboard Asus PRIME B250M-A">
                                            <span class="i-name">Mainboard Asus PRIME B250M-A</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-img="assets/images/product-2.jpg"  data-url="123" value="Mainboard Asus PRIME B250M-J">
                                            <span class="i-name">Mainboard Asus PRIME B250M-J</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-url="1234" value="Mainboard GIGABYTE Z370M-DS3H">
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-url="12345" value="Mainboard Asus PRIME B250M-A">
                                            <span class="i-name">Mainboard Asus PRIME B250M-A</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="driver-list">
                            <div class="driver-list_top">
                                <a href="#"><i class="fas fa-external-link-alt"></i></a>
                                <h3>Intel CPU</h3>
                                <span class="show-search_advanced">+ Tùy chọn nâng cao</span>
                            </div>
                            <div class="driver-list_content">
                                <div class="list_content-img">
                                    <img src="assets/images/product-4.jpg" alt="">
                                </div>
                                <div class="driver-list_item">
                                    <a href="#"><h4 class="item-name">Mainboard GIGABYTE Z370M-DS3H</h4></a><span class="btn-accordion"><i class="fas fa-angle-double-up"></i></span>
                                    <div class="list">
                                        <div class="item">
                                            <input type="radio" name="main1" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main1" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main1" data-img="assets/images/product-2.jpg"  data-url="123" value="Mainboard Asus PRIME B250M-J">
                                            <span class="i-name">Mainboard Asus PRIME B250M-J</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main1" data-url="1234" value="Mainboard GIGABYTE Z370M-DS3H">
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main1" data-url="12345" value="Mainboard Asus PRIME B250M-A">
                                            <span class="i-name">Mainboard Asus PRIME B250M-A</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="driver-list">
                            <div class="driver-list_top">
                                <a href="#"><i class="fas fa-external-link-alt"></i></a>
                                <h3>RAM</h3>
                                <span class="show-search_advanced">+ Tùy chọn nâng cao</span>
                            </div>
                            <div class="driver-list_content">
                                <div class="list_content-img">
                                    <img src="assets/images/product-4.jpg" alt="">
                                </div>
                                <div class="driver-list_item">
                                    <a href="#"><h4 class="item-name">Mainboard GIGABYTE Z370M-DS3H</h4></a><span class="btn-accordion"><i class="fas fa-angle-double-up"></i></span>
                                    <div class="list">
                                        <div class="item">
                                            <input type="radio" name="main2" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main2" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main2" data-img="assets/images/product-2.jpg"  data-url="123" value="Mainboard Asus PRIME B250M-J">
                                            <span class="i-name">Mainboard Asus PRIME B250M-J</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main2" data-url="1234" value="Mainboard GIGABYTE Z370M-DS3H">
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="main2" data-url="12345" value="Mainboard Asus PRIME B250M-A">
                                            <span class="i-name">Mainboard Asus PRIME B250M-A</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div id="tab2" class="content-tab-pro" style="display:none">
                        <p>Tùy chỉnh linh kiện theo danh sách linh kiện gợi ý trước</p>
                        <section class="driver-list">
                            <div class="driver-list_top">
                                <a href="#"><i class="fas fa-external-link-alt"></i></a>
                                <h3>Mainboard</h3>
                                <span class="show-search_advanced">+ Tùy chọn nâng cao</span>
                            </div>
                            <div class="driver-list_content">
                                <div class="list_content-img">
                                    <img src="assets/images/product-4.jpg" alt="">
                                </div>
                                <div class="driver-list_item">
                                    <a href="#"><h4 class="item-name">Mainboard GIGABYTE Z370M-DS3H</h4></a><span class="btn-accordion"><i class="fas fa-angle-double-up"></i></span>
                                    <div class="list">
                                        <div class="item">
                                            <input type="radio" name="Mainboard" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard" data-img="assets/images/product-2.jpg"  data-url="123" value="Mainboard Asus PRIME B250M-J">
                                            <span class="i-name">Mainboard Asus PRIME B250M-J</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard" data-url="1234" value="Mainboard GIGABYTE Z370M-DS3H">
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard" data-url="12345" value="Mainboard Asus PRIME B250M-A">
                                            <span class="i-name">Mainboard Asus PRIME B250M-A</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="driver-list">
                            <div class="driver-list_top">
                                <a href="#"><i class="fas fa-external-link-alt"></i></a>
                                <h3>Intel CPU</h3>
                                <span class="show-search_advanced">+ Tùy chọn nâng cao</span>
                            </div>
                            <div class="driver-list_content">
                                <div class="list_content-img">
                                    <img src="assets/images/product-4.jpg" alt="">
                                </div>
                                <div class="driver-list_item">
                                    <a href="#"><h4 class="item-name">Mainboard GIGABYTE Z370M-DS3H</h4></a><span class="btn-accordion"><i class="fas fa-angle-double-up"></i></span>
                                    <div class="list">
                                        <div class="item">
                                            <input type="radio" name="Mainboard1" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard1" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard1" data-img="assets/images/product-2.jpg"  data-url="123" value="Mainboard Asus PRIME B250M-J">
                                            <span class="i-name">Mainboard Asus PRIME B250M-J</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard1" data-url="1234" value="Mainboard GIGABYTE Z370M-DS3H">
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard1" data-url="12345" value="Mainboard Asus PRIME B250M-A">
                                            <span class="i-name">Mainboard Asus PRIME B250M-A</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="driver-list">
                            <div class="driver-list_top">
                                <a href="#"><i class="fas fa-external-link-alt"></i></a>
                                <h3>RAM</h3>
                                <span class="show-search_advanced">+ Tùy chọn nâng cao</span>
                            </div>
                            <div class="driver-list_content">
                                <div class="list_content-img">
                                    <img src="assets/images/product-4.jpg" alt="">
                                </div>
                                <div class="driver-list_item">
                                    <a href="#"><h4 class="item-name">Mainboard GIGABYTE Z370M-DS3H</h4></a><span class="btn-accordion"><i class="fas fa-angle-double-up"></i></span>
                                    <div class="list">
                                        <div class="item">
                                            <input type="radio" name="Mainboard12" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard12" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard12" data-img="assets/images/product-2.jpg"  data-url="123" value="Mainboard Asus PRIME B250M-J">
                                            <span class="i-name">Mainboard Asus PRIME B250M-J</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard12" data-url="1234" value="Mainboard GIGABYTE Z370M-DS3H">
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard12" data-url="12345" value="Mainboard Asus PRIME B250M-A">
                                            <span class="i-name">Mainboard Asus PRIME B250M-A</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div id="tab3" class="content-tab-pro" style="display:none">
                        <p>Tùy chỉnh linh kiện theo danh sách linh kiện gợi ý trước</p>
                        <section class="driver-list">
                            <div class="driver-list_top">
                                <a href="#"><i class="fas fa-external-link-alt"></i></a>
                                <h3>Mainboard</h3>
                                <span class="show-search_advanced">+ Tùy chọn nâng cao</span>
                            </div>
                            <div class="driver-list_content">
                                <div class="list_content-img">
                                    <img src="assets/images/product-4.jpg" alt="">
                                </div>
                                <div class="driver-list_item">
                                    <a href="#"><h4 class="item-name">Mainboard GIGABYTE Z370M-DS3H</h4></a><span class="btn-accordion"><i class="fas fa-angle-double-up"></i></span>
                                    <div class="list">
                                        <div class="item">
                                            <input type="radio" name="Mainboard" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard" data-img="assets/images/product-2.jpg"  data-url="123" value="Mainboard Asus PRIME B250M-J">
                                            <span class="i-name">Mainboard Asus PRIME B250M-J</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard" data-url="1234" value="Mainboard GIGABYTE Z370M-DS3H">
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard" data-url="12345" value="Mainboard Asus PRIME B250M-A">
                                            <span class="i-name">Mainboard Asus PRIME B250M-A</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="driver-list">
                            <div class="driver-list_top">
                                <a href="#"><i class="fas fa-external-link-alt"></i></a>
                                <h3>Intel CPU</h3>
                                <span class="show-search_advanced">+ Tùy chọn nâng cao</span>
                            </div>
                            <div class="driver-list_content">
                                <div class="list_content-img">
                                    <img src="assets/images/product-4.jpg" alt="">
                                </div>
                                <div class="driver-list_item">
                                    <a href="#"><h4 class="item-name">Mainboard GIGABYTE Z370M-DS3H</h4></a><span class="btn-accordion"><i class="fas fa-angle-double-up"></i></span>
                                    <div class="list">
                                        <div class="item">
                                            <input type="radio" name="Mainboard1" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard1" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard1" data-img="assets/images/product-2.jpg"  data-url="123" value="Mainboard Asus PRIME B250M-J">
                                            <span class="i-name">Mainboard Asus PRIME B250M-J</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard1" data-url="1234" value="Mainboard GIGABYTE Z370M-DS3H">
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard1" data-url="12345" value="Mainboard Asus PRIME B250M-A">
                                            <span class="i-name">Mainboard Asus PRIME B250M-A</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="driver-list">
                            <div class="driver-list_top">
                                <a href="#"><i class="fas fa-external-link-alt"></i></a>
                                <h3>RAM</h3>
                                <span class="show-search_advanced">+ Tùy chọn nâng cao</span>
                            </div>
                            <div class="driver-list_content">
                                <div class="list_content-img">
                                    <img src="assets/images/product-4.jpg" alt="">
                                </div>
                                <div class="driver-list_item">
                                    <a href="#"><h4 class="item-name">Mainboard GIGABYTE Z370M-DS3H</h4></a><span class="btn-accordion"><i class="fas fa-angle-double-up"></i></span>
                                    <div class="list">
                                        <div class="item">
                                            <input type="radio" name="Mainboard12" data-img="assets/images/product-1.jpg" data-url="1" value="Mainboard GIGABYTE Z370M-DS3H" checked>
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard12" data-img="assets/images/product-3.jpg"  data-url="12" value="Mainboard Asus WS X299 PRO">
                                            <span class="i-name">Mainboard Asus WS X299 PRO</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard12" data-img="assets/images/product-2.jpg"  data-url="123" value="Mainboard Asus PRIME B250M-J">
                                            <span class="i-name">Mainboard Asus PRIME B250M-J</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard12" data-url="1234" value="Mainboard GIGABYTE Z370M-DS3H">
                                            <span class="i-name">Mainboard GIGABYTE Z370M-DS3H</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                        <div class="item">
                                            <input type="radio" name="Mainboard12" data-url="12345" value="Mainboard Asus PRIME B250M-A">
                                            <span class="i-name">Mainboard Asus PRIME B250M-A</span>
                                            <span class="i-price float_r">109.990.000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div> 
           </div>
           <div class="content-sidebar float_r w-30">
                <div class="product-info">
                    <h4>PC HNC ADVANCED GAMING A4 G4400/8G/RX550</h4>
                    <span class="price">Giá chính hãng: <span>8.684.000 đ</span></span>
                    <span class="unprice">Giá khuyến mãi: <span>8.199.000 đ</span></span>
                    <div class="center">
                        <span>Giao hàng miễn phí </span>
                        <span>Trong bán kính 20m cho đơn hàng >500.000 đ</span>
                    </div>
                </div>
                <div class="contact-support">
                    <h4>Bạn cần trợ giúp ?</h4>
                    <div class="suport-phone">
                        <span>Yêu cầu gọi lại</span>
                        <a href="tel:0123456789">GỌI NGAY</a>
                    </div>
                    <div class="suport-mail">
                        <span>Gửi e-mail cho Hanoicomputer</span>
                        <a href="mailto:baohanhhnc@hanoicomputer.com">baohanhhnc@hanoicomputer.com</a>
                    </div>
                </div>
                <div class="action-product">
                    <h4>Bạn muốn làm gì với máy tính này?</h4>
                    <ul class="list-action">
                        <li>Xem trước & In</li>
                        <li>Email cho Bạn bè</li>
                        <li>Thêm vào Wish List</li>
                        <li>Lưu lại sau </li>
                        <li>Thêm vào PC Gallery </li>
                        <li>Check Compatibility</li>
                    </ul>
                    <span>Mua Ngay</span>
                </div>
           </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>