<!DOCTYPE html>
<html lang="vi">

<head>
    <meta content="DOCUMENT" name="RESOURCE-TYPE" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hà Nội Computer</title>
    <meta name="keywords" content="keyword" />
    <meta name="description" content="description" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
        crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>
    <header>

    </header>
    <main class="custom-pc">
        <div class="title-page">
            <h1>Custom PC</h1>
        </div>
        <div class="banner-custom_config owl-carousel owl-theme">
            <div class="item">
                <a href="#">
                    <img src="assets/images/banner.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/images/banner.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/images/banner.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/images/banner.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="content center container">
            <h3>Tùy chọn cấu hình PC</h3>
            <span>» Chúng tôi xây dựng của bạn giống như của riêng chúng tôi</span>
            <div class="product-list">
                <div class="product-list_item">
                    <div class="boder-item">
                        <a href="#" class="p-img">
                            <img src="assets/images/product-1.jpg" alt="">
                        </a>
                        <a href="#" class="p-name">Máy tính chơi game</a>
                        <span class="add-to-cart">Mua Ngay</span>
                    </div>
                </div>
                <div class="product-list_item">
                    <div class="boder-item">
                        <a href="#" class="p-img">
                            <img src="assets/images/product-2.jpg" alt="">
                        </a>
                        <a href="#" class="p-name">Máy tính chơi game</a>
                        <span class="add-to-cart">Mua Ngay</span>
                    </div>
                </div>
                <div class="product-list_item">
                    <div class="boder-item">
                        <a href="#" class="p-img">
                            <img src="assets/images/product-3.jpg" alt="">
                        </a>
                        <a href="#" class="p-name">Máy tính chơi game</a>
                        <span class="add-to-cart">Mua Ngay</span>
                    </div>
                </div>
                <div class="product-list_item">
                    <div class="boder-item">
                        <a href="#" class="p-img">
                            <img src="assets/images/product-4.jpg" alt="">
                        </a>
                        <a href="#" class="p-name">Máy tính chơi game</a>
                        <span class="add-to-cart">Mua Ngay</span>
                    </div>
                </div>
                <div class="product-list_item">
                    <div class="boder-item"> 
                        <a href="#" class="p-img">
                            <img src="assets/images/product-5.jpg" alt="">
                        </a>
                        <a href="#" class="p-name">Máy tính chơi game</a>
                        <span class="add-to-cart">Mua Ngay</span>
                    </div>
                </div>
                <div class="product-list_item">
                    <div class="boder-item">
                        <a href="#" class="p-img">
                            <img src="assets/images/product-6.jpg" alt="">
                        </a>
                        <a href="#" class="p-name">Máy tính chơi game</a>
                        <span class="add-to-cart">Mua Ngay</span>
                    </div>
                </div>
                <div class="product-list_item">
                    <div class="boder-item">
                        <a href="#" class="p-img">
                            <img src="assets/images/product-7.jpg" alt="">
                        </a>
                        <a href="#" class="p-name">Máy tính chơi game</a>
                        <span class="add-to-cart">Mua Ngay</span>
                    </div>
                </div>
                <div class="product-list_item">
                    <div class="boder-item">
                        <a href="#" class="p-img">
                            <img src="assets/images/product-8.jpg" alt="">
                        </a>
                        <a href="#" class="p-name">Máy tính chơi game</a>
                        <span class="add-to-cart">Mua Ngay</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>