<!DOCTYPE html>
<html lang="vi">

<head>
    <meta content="DOCUMENT" name="RESOURCE-TYPE" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bộ sưu tập</title>
    <meta name="keywords" content="keyword" />
    <meta name="description" content="description" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
        crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body class="">
    <header>

    </header>
    <main class="build-pc">
        <div class="title-page">
            <h1>Xây dựng máy tính</h1>
        </div>
        <div class="banner-build owl-carousel owl-theme">
            <div class="item">
                <a href="#">
                    <img src="assets/images/banner-bosuutap.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/images/banner.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/images/banner-bosuutap.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="assets/images/banner.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="content container">
            <div class="cat-product-list">
                <h3 class="title-config-page">Cấu hình tham khảo</h3>
                <div class="slider-product owl-carousel owl-theme">
                    <div class="item">
                        <a href="#" class="p-cat">Máy tính để bàn</a>
                        <span class="p_sku">Mã SP: PCHP287</span>
                        <a href="#" class="p-img"><img src="assets/images/product-5.jpg" alt=""></a>
                        <span class="p-price">19.489.</span>
                        <a href="#" class="p-name">HP Workstation Z230 E3-1226v3 3.3Ghz/4GB/500Gb/DVDRW/Quadro K620 2GB/K+M/Linux</a>
                        <a href="#" class="p-view-all">Xem tất cả 10 sản phẩm <i class="fas fa-caret-right"></i></a>
                    </div>
                    <div class="item">
                        <a href="#" class="p-cat">Máy tính mini đa dụng</a>
                        <span class="p_sku">Mã SP: PCHP287</span>
                        <a href="#" class="p-img"><img src="assets/images/product-3.jpg" alt=""></a>
                        <span class="p-price">19.489.</span>
                        <a href="#" class="p-name">HP Workstation Z230 E3-1226v3 3.3Ghz/4GB/500Gb/DVDRW/Quadro K620 2GB/K+M/Linux</a>
                        <a href="#" class="p-view-all">Xem tất cả 10 sản phẩm <i class="fas fa-caret-right"></i></a>
                    </div>
                    <div class="item">
                        <a href="#" class="p-cat">Máy tính chơi game</a>
                        <span class="p_sku">Mã SP: PCHP287</span>
                        <a href="#" class="p-img"><img src="assets/images/product-1.jpg" alt=""></a>
                        <span class="p-price">19.489.</span>
                        <a href="#" class="p-name">HP Workstation Z230 E3-1226v3 3.3Ghz/4GB/500Gb/DVDRW/Quadro K620 2GB/K+M/Linux</a>
                        <a href="#" class="p-view-all">Xem tất cả 10 sản phẩm <i class="fas fa-caret-right"></i></a>
                    </div>
                    <div class="item">
                        <a href="#" class="p-cat">Máy tính trạm</a>
                        <span class="p_sku">Mã SP: PCHP287</span>
                        <a href="#" class="p-img"><img src="assets/images/product-6.jpg" alt=""></a>
                        <span class="p-price">19.489.</span>
                        <a href="#" class="p-name">HP Workstation Z230 E3-1226v3 3.3Ghz/4GB/500Gb/DVDRW/Quadro K620 2GB/K+M/Linux</a>
                        <a href="#" class="p-view-all">Xem tất cả 10 sản phẩm <i class="fas fa-caret-right"></i></a>
                    </div>
                    <div class="item">
                        <a href="#" class="p-cat">Máy tính mini đa dụng</a>
                        <span class="p_sku">Mã SP: PCHP287</span>
                        <a href="#" class="p-img"><img src="assets/images/product-3.jpg" alt=""></a>
                        <span class="p-price">19.489.</span>
                        <a href="#" class="p-name">HP Workstation Z230 E3-1226v3 3.3Ghz/4GB/500Gb/DVDRW/Quadro K620 2GB/K+M/Linux</a>
                        <a href="#" class="p-view-all">Xem tất cả 10 sản phẩm <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="build-pc_content">
                <h3>Chọn linh kiện xây dựng cấu hình</h3>
                <div class="list-drive">
                    <div class="item-drive">
                        <span class="d-name">1. Bộ vi xử lý</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn vi xử lý</span>
                            <div class="contain-item-drive">
                                <a target="_blank" href="#" class="d-img"><img src="assets/images/product-1.jpg" alt=""></a>
                                <a target="_blank" href="#" class="d-name">Bo mạch chính/ Mainboard Asrock H110M-DVS R2.0</a>
                                <span class="d-price">5.380.000 đ</span>
                                <i>x</i> <input class="count-p" type="number" value="1" min="1" max="50"><i>=</i>
                                <span class="sum_price">1.380.000 đ</span>
                                <span class="btn-action_seclect show-popup_select"><i class="fas fa-edit"></i></span>
                                <span class="btn-action_seclect delete_select"><i class="fas fa-trash-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">2. Bo mạch chủ</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn bo mạch chủ</span>
                            <div class="contain-item-drive">
                                <a target="_blank" href="#" class="d-img"><img src="assets/images/product-1.jpg" alt=""></a>
                                <a target="_blank" href="#" class="d-name">Bo mạch chính/ Mainboard Asrock H110M-DVS R2.0</a>
                                <span class="d-price">2.680.000 đ</span>
                                <i>x</i> <input class="count-p" type="number" value="1" min="1" max="50"><i>=</i>
                                <span class="sum_price">1.380.000 đ</span>
                                <span class="btn-action_seclect show-popup_select"><i class="fas fa-edit"></i></span>
                                <span class="btn-action_seclect delete_select"><i class="fas fa-trash-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">3. RAM</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn RAM</span>
                            <div class="contain-item-drive">
                                <a target="_blank" href="#" class="d-img"><img src="assets/images/product-1.jpg" alt=""></a>
                                <a target="_blank" href="#" class="d-name">Bo mạch chính/ Mainboard Asrock H110M-DVS R2.0</a>
                                <span class="d-price">7.480.000 đ</span>
                                <i>x</i> <input class="count-p" type="number" value="1" min="1" max="50"><i>=</i>
                                <span class="sum_price">1.380.000 đ</span>
                                <span class="btn-action_seclect show-popup_select"><i class="fas fa-edit"></i></span>
                                <span class="btn-action_seclect delete_select"><i class="fas fa-trash-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">4. Ổ cứng HDD</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn Ổ HDD</span>
                            <div class="contain-item-drive">
                                <a target="_blank" href="#" class="d-img"><img src="assets/images/product-1.jpg" alt=""></a>
                                <a target="_blank" href="#" class="d-name">Bo mạch chính/ Mainboard Asrock H110M-DVS R2.0</a>
                                <span class="d-price">2.580.000 đ</span>
                                <i>x</i> <input class="count-p" type="number" value="1" min="1" max="50"><i>=</i>
                                <span class="sum_price">1.380.000 đ</span>
                                <span class="btn-action_seclect show-popup_select"><i class="fas fa-edit"></i></span>
                                <span class="btn-action_seclect delete_select"><i class="fas fa-trash-alt"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">5. Ổ cứng SSD</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn ổ SSD</span>

                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">6. Card màn hình</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn VGA</span>
                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">7. Nguồn máy tính</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn nguồn</span>

                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">8. Vỏ case</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn vỏ case</span>

                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">9. Tản nhiệt</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn tản nhiệt</span>

                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">10. Màn hình</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn màn hình</span>

                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">11. Bàn phím</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn bàn phím</span>

                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">12. Chuột</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn chuột</span>

                        </div>
                    </div>
                    <div class="item-drive">
                        <span class="d-name">13. Tai nghe</span>
                        <div class="drive-checked">
                            <span class="show-popup_select span-last"><i class="fa fa-plus"></i> Chọn tai nghe</span>

                        </div>
                    </div>
                </div>

                <ul class="list-btn-action">
                    <li><span class="save_config">lưu cấu hình <i class="far fa-save"></i></span></li>
                    <li><span>tải file excel cấu hình <i class="far fa-file-excel"></i></span></li>
                    <li><span>tải ảnh cấu hình <i class="far fa-image"></i></span></li>
                    <li><span>chia sẻ cấu hình <i class="far fa-image"></i></span></li>
                    <li><span>Thêm vào giỏ hàng <i class="fas fa-shopping-cart"></i></span></li>
                </ul>
            </div>
            <div class="guide-build">
                <h4>Hướng dẫn xây dựng cấu hình máy tính chơi game 2018</h4>
                <p>Hi bro! Chào mừng đến với trang xây dựng cấu hình áy tính của Hanoicomputer.com. Sẽ rất dễ dàng của bạn là một “ Cáo già ” trong việc Build PC, nhưng nếu bạn là gà mờ thì sao? Hưỡng dẫn này sẽ giúp bạn làm quen với những Linh kiện cần thiết để xây dựng một chiếc máy tính chơi game. Từ việc chọn từng linh kiện phần cứng đảm bảo chúng tương thích với nhau và gợi ý những linh kiện tốt nhất trong năm 2018. Mạnh mẽ hơn nữa, bạn sẽ học các bước cơ bản để lắp 1 bộ PC. Hãy click vào các mục bên dưới để xem hướng dẫn cụ thể cho từng mục bạn nhé! </p>
                <ul>
                    <li>
                        Vì sao phải tự xây dựng cấu hình máy tính cho riêng mình?
                    </li>
                    <li>
                        Các chương trình hỗ trợ Build PC hàng tháng của Hanoicoputer
                    </li>
                    <li>
                        Cách chọn CPU - Bộ vi xử lý
                    </li>
                    <li>
                        Cách chọn Bo mạch chủ - Mainboard
                    </li>
                    <li>
                        Cách chọn VGA - Card đồ họa
                    </li>
                    <li>
                        Cách chọn Thiết bị lưu trữ - HDD/SSD/M.2/PCI-E
                    </li>
                    <li>
                        Cách chọn Nguồn - PSU
                    </li>
                    <li>
                        Cách chọn RAM - Bộ nhớ đệm
                    </li>
                    <li>
                        Cách chọn Vỏ máy tính chơi game - Gaming PC’s Case
                    </li>
                    <li>
                        Cách chọn Tản nhiệt - Fan, cooler
                    </li>
                    <li>
                        Cách chọn màn hình- Monitor
                    </li>
                    <li>
                        Cách chọn chuột chơi game
                    </li>
                    <li>
                        Cách chọn bàn phím chơi game
                    </li>
                </ul>
            </div>
        </div>
        <div class="mask-popup">
            <div class="popup-select">
                <div class="header">
                    <h4>Chọn linh kiện</h4>
                    <form action="">
                        <input type="text" class="input-search" placeholder="Bạn cần tìm linh kiện gì?">
                        <span class="btn-search"><i class="fas fa-search"></i></span>
                    </form>
                    <span class="close-popup"><i class="fas fa-times"></i></span>
                </div>
                <div class="popup-main">
                    <div class="popup-main_filter w-30 float_l">
                        <h4>Lọc sản phẩm theo</h4>
                        <div class="gr-filter">
                            <h5 class="title-filter">Hãng sản xuất <span class="show-filter"><i class="fas fa-caret-right"></i></span></h5>
                            <ul>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">ASROCK (30)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">ASUS (47)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">BIOSTAR (4)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">COLORFUL (1)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">FOXCONN (1)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">GIGABYTE (30)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">INTEL (2)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">Maxsun (4)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">MSI (51)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="gr-filter">
                            <h5 class="title-filter">Khoảng giá <span class="show-filter"><i class="fas fa-caret-right"></i></span></h5>
                            <ul>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">1.000.000 - 2.000.000 (30)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">1.000.000 - 2.000.000 (30)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">1.000.000 - 2.000.000 (30)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">1.000.000 - 2.000.000 (30)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">1.000.000 - 2.000.000 (30)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">1.000.000 - 2.000.000 (30)</span>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="gr-filter">
                            <h5 class="title-filter">Số khe cắm RAM <span class="show-filter"><i class="fas fa-caret-right"></i></span></h5>
                            <ul>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">3 (1)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">2 (20)</span>
                                </li>
                                <li>
                                    <input type="checkbox" value=""> <span class="value-filter">1 (30)</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="popup-main_content w-70 float_r">
                        <div class="sort-paging clear">
                            <div class="sort-block float_l">
                                <span>Sắp xếp: </span>
                                <select name="" id="">
                                    <option value="">Tùy chọn</option>
                                    <option value="">Sản phẩm mới nhất</option>
                                    <option value="">Sản phẩm rẻ nhất</option>
                                </select>
                            </div>
                            <div class="paging-block float_r">
                                <span>Trang <b>1/5</b></span>
                                <a href=""><i class="fas fa-angle-double-left"></i></a>
                                <a href="#" class="current">1</a>
                                <a href="">2</a>
                                <a href="">3</a>
                                <a href="">4</a>
                                <a href="">5</a>
                                <a href=""><i class="fas fa-angle-double-right"></i></a>
                            </div>
                        </div>
                        <div class="list-product-select">
                            <!-- Danh sách sản phẩm hiển thị popup -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup_save">
            <div class="save-config_main">
                <div class="header-popup">
                    <img class="popup_logo" src="https://www.hanoicomputer.vn/media/banner/logo_logo_logo_logo_logo_logo_logo%20hnc2.png" alt="">
                    <h3>Xây Dựng Cấu Hình PC</h3>
                </div>
                <div class="list-selected">
                    <!-- Danh sách sản phẩm được lựa chọn-->
                </div>
                <span class="total_pay">Tổng chi phí: <span>11.400.000 đ</span></span>
                <div class="btn-selected">
                    <span class="close-popup">Hủy</span>
                    <span class="btn-save_config">Lưu Cấu hình</span>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>

    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>