<script>

    $(function(){
        //buy product
        listenBuyButton(".add-combo-to-cart");
    });

    function listenBuyButton(dom_target) {
        $(dom_target).on("click", function () {
            if(!Hura.Cart.isReady()) alert("Cart chua san sang!");

            var addStatus = Hura.Cart.Combo.add({
                id          : this.getAttribute("data-id"),
                quantity    : 1,
                buyer_note  : '',
            });

            if(addStatus) {
                addStatus.then(function () {
                    console.log("cart content = " + JSON.stringify(Hura.Cart.getCart(), true, 4));
                    Hura.Cart.goToCartPage();
                })
            } else {

            }
        });
    }
</script>