<link type="text/css" rel="stylesheet" href="/includes/css/BuildPC.css"/>
<script style="/includes/js/BuildPC.js"></script>

<div class='clear'></div>

<div class="buid-title"><span class="cssSymbol">&nbsp;</span><h1>Xây dựng máy tính</h1></div>

<input type="hidden" id="pc_part_id" value="," />
<input type="hidden" id="pcbuilder_step" value="1" />
<input type="hidden" id="pcbuilder_step_back" value="0" />
<input type="hidden" id="pc_total_price" value="0" />

<script>
    $(window).scroll(function(){
        $("#pcbuilder_box").css("top", Math.max(0,230 - $(this).scrollTop()));
    });
</script>
<div id="anchor_top"></div>

<table cellpadding="0" cellspacing="0" class="buid-table">
	<tr>
    	<td valign="top" class="buid-process">
        	<div id="pc_part_process"></div>	
        </td>
        <td valign="top"  class="buid-view"> 
            <div class="view-title">
                 <p>Cấu hình - <a href="javascript:pcbuilder_viewpc()">Xem & In</a></p>
                <div id="pc_part_total_price"></div>
            </div>
            <div id="pcbuilder_box" class="view-content">
                <div id="pc_part_select"></div>
            </div>
        </td>
    </tr>
</table>