<link rel="stylesheet" href="/includes/buildpc/v2/css/owl.carousel.min.css">
<link rel="stylesheet" href="/includes/buildpc/v2/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/includes/buildpc/v2/css/styles.css" type="text/css" />

<main class="build-pc">
    <div class="title-page">
        <h1>Xây dựng máy tính</h1>
    </div>

    <div class="banner-build owl-carousel owl-theme">
        <div class="item">
            <a href="#">
                <img src="/includes/buildpc/v2/images/banner-bosuutap.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="/includes/buildpc/v2/images/banner.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="/includes/buildpc/v2/images/banner-bosuutap.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="/includes/buildpc/v2/images/banner.jpg" alt="">
            </a>
        </div>
    </div>

    <div class="content container">

        <div class="cat-product-list">
            <h3 class="title-config-page">Cấu hình tham khảo</h3>
            <div class="slider-product owl-carousel owl-theme">
                <div class="item">
                    <a href="#" class="p-cat">Máy tính để bàn</a>
                    <span class="p_sku">Mã SP: PCHP287</span>
                    <a href="#" class="p-img"><img src="/includes/buildpc/v2/images/product-5.jpg" alt=""></a>
                    <span class="p-price">19.489.</span>
                    <a href="#" class="p-name">HP Workstation Z230 E3-1226v3 3.3Ghz/4GB/500Gb/DVDRW/Quadro K620 2GB/K+M/Linux</a>
                    <a href="#" class="p-view-all">Xem tất cả 10 sản phẩm <i class="fas fa-caret-right"></i></a>
                </div>
                <div class="item">
                    <a href="#" class="p-cat">Máy tính mini đa dụng</a>
                    <span class="p_sku">Mã SP: PCHP287</span>
                    <a href="#" class="p-img"><img src="/includes/buildpc/v2/images/product-3.jpg" alt=""></a>
                    <span class="p-price">19.489.</span>
                    <a href="#" class="p-name">HP Workstation Z230 E3-1226v3 3.3Ghz/4GB/500Gb/DVDRW/Quadro K620 2GB/K+M/Linux</a>
                    <a href="#" class="p-view-all">Xem tất cả 10 sản phẩm <i class="fas fa-caret-right"></i></a>
                </div>
                <div class="item">
                    <a href="#" class="p-cat">Máy tính chơi game</a>
                    <span class="p_sku">Mã SP: PCHP287</span>
                    <a href="#" class="p-img"><img src="/includes/buildpc/v2/images/product-1.jpg" alt=""></a>
                    <span class="p-price">19.489.</span>
                    <a href="#" class="p-name">HP Workstation Z230 E3-1226v3 3.3Ghz/4GB/500Gb/DVDRW/Quadro K620 2GB/K+M/Linux</a>
                    <a href="#" class="p-view-all">Xem tất cả 10 sản phẩm <i class="fas fa-caret-right"></i></a>
                </div>
                <div class="item">
                    <a href="#" class="p-cat">Máy tính trạm</a>
                    <span class="p_sku">Mã SP: PCHP287</span>
                    <a href="#" class="p-img"><img src="/includes/buildpc/v2/images/product-6.jpg" alt=""></a>
                    <span class="p-price">19.489.</span>
                    <a href="#" class="p-name">HP Workstation Z230 E3-1226v3 3.3Ghz/4GB/500Gb/DVDRW/Quadro K620 2GB/K+M/Linux</a>
                    <a href="#" class="p-view-all">Xem tất cả 10 sản phẩm <i class="fas fa-caret-right"></i></a>
                </div>
                <div class="item">
                    <a href="#" class="p-cat">Máy tính mini đa dụng</a>
                    <span class="p_sku">Mã SP: PCHP287</span>
                    <a href="#" class="p-img"><img src="/includes/buildpc/v2/images/product-3.jpg" alt=""></a>
                    <span class="p-price">19.489.</span>
                    <a href="#" class="p-name">HP Workstation Z230 E3-1226v3 3.3Ghz/4GB/500Gb/DVDRW/Quadro K620 2GB/K+M/Linux</a>
                    <a href="#" class="p-view-all">Xem tất cả 10 sản phẩm <i class="fas fa-caret-right"></i></a>
                </div>
            </div>
        </div>

        <div class="build-pc_content">

            <h3>Chọn linh kiện xây dựng cấu hình</h3>

            <div class="list-drive" id="js-buildpc-layout">
                <!--//-->
            </div>

            <ul class="list-btn-action" id="js-buildpc-action">
                <li><span data-action="save">lưu cấu hình <i class="far fa-save"></i></span></li>
                <li><span data-action="download-excel">tải file excel cấu hình <i class="far fa-file-excel"></i></span></li>
                <li><span data-action="create-image">tải ảnh cấu hình <i class="far fa-image"></i></span></li>
                <li><span data-action="share">chia sẻ cấu hình <i class="far fa-image"></i></span></li>
                <li><span data-action="add-cart">Thêm vào giỏ hàng <i class="fas fa-shopping-cart"></i></span></li>
            </ul>
        </div>

        <input type="hidden" id="js-save-config-id" value="{$save_config.item_id}">
        <div>Save PC config: <input type="text" size="40" id="js-save-config-name"> <span id='js-save-config-status'><input type="button" value="Save" onclick="saveConfig()"></span> </div>

    </div>

    <div id="js-modal-popup"> </div>



</main>

<script src="/includes/buildpc/v2/js/owl.carousel.min.js"></script>

<script src="/includes/js/dist/BuildPC.js"></script>
<script src="/includes/js/BuildPCVisual.js"></script>

<!--<script src="/includes/js/User.js"></script>
<script src="/includes/js/BuildPC.js"></script>
<script src="/includes/js/BuildPCVisual.js"></script>-->

<script>
    //http://local.hurastore/buildpc?u=1&config=c81f8abfaf7abd6dab367a33a351e09e

    var USER_ID = 1; // "{#USER_ID#}";
    function saveConfig() {
        var config_name = $("#js-save-config-name").val();
        if(config_name.length < 5) {
            alert("Chưa nhập tên cấu hình ");
            return ;
        }

        var $status_holder = $("#js-save-config-status");
        $status_holder.html('...');

        $.post("/ajax/user.php", {
            action      : "save-buildpc",
            uid : Hura.User.getUserId(),
            config_id : $("#js-save-config-id").val(),
            config_name : config_name
        }, function (data) {
            $("#js-save-config-id").val(data);
            alert(data + " " + config_name);
        })
    }


    function runSlider() {
        $('.banner-custom_config').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        });
        $('.banner-build').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        });
        $('.slider-product').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: ['<i class="fas fa-chevron-left" aria-hidden="true"></i>', '<i class="fas fa-chevron-right" aria-hidden="true"></i>'],
            responsive: {
                0: {
                    items: 4
                },
                600: {
                    items: 4
                },
                1000: {
                    items: 4
                }
            }
        });
    }

    function exportUrl(ftype) {
        return "/ajax/export_download.php?content_type=buildpc&u=" + Hura.User.getUserId() + "&file_type=" + ftype;
    }

    //document ready
    $(function () {
        //slider
        runSlider();

        //show pc
        var category_config = {$category_config};

        BuildPCVisual.showLayout(category_config);

        //get config saved on load
        Hura.User.getInfo("buildpc", function (pc_config) {
            //set config
            BuildPC.setConfig(pc_config);

            for(var category_id in pc_config) {
                if(pc_config.hasOwnProperty(category_id)) {
                    BuildPCVisual.displayProductInCategory(category_id, pc_config[category_id].items[0]);
                }
            }
            //console.log("config save = " + JSON.stringify(res, true, 4));
        } );

        //listener
        $("#js-buildpc-action").on("click", function (e) {
            var node = e.target;
            if(node.nodeName == 'SPAN') {
                var user_action = node.getAttribute("data-action");
                console.log("user_action = " + user_action);
                //console.log("config = " + JSON.stringify(BuildPC.getConfig(), true, 4));
                switch (user_action) {
                    case "save"://luu cau hinh
                        Hura.User.updateInfo("buildpc", BuildPC.getConfig(), function (res) {
                            if(res.status == 'success') {
                                alert("Lưu thành công !");
                            }
                        } );
                        break;

                    case "download-excel"://tai file excel
                            window.location = exportUrl('xls');
                        break;

                    case "create-image"://tao anh
                            alert("Chức năng đang chờ bổ sung!");
                            //window.location = exportUrl('png');
                        break;

                    case "share"://chia se
                        window.location = exportUrl('html');
                        break;

                    case "add-cart"://them gio hang
                        alert("Chức năng đang chờ bổ sung!");
                        break;
                }
            }
        });

    });


</script>
