<div class="popup_save active">
    <div class="save-config_main">
        <div class="header-popup">
            <img class="popup_logo" src="https://www.hanoicomputer.vn/media/banner/logo_logo_logo_logo_logo_logo_logo%20hnc2.png" alt="">
            <h3>Xây Dựng Cấu Hình PC</h3>
        </div>
        <div class="list-selected">
            <!-- Danh sách sản phẩm được lựa chọn-->
        </div>
        <span class="total_pay">Tổng chi phí: <span>11.400.000 đ</span></span>
        <div class="btn-selected">
            <span class="close-popup">Hủy</span>
            <span class="btn-save_config">Lưu Cấu hình</span>
        </div>
    </div>
</div>