<style>
h2.title_pd_02 {
    font-size: 20px;
}
.row{margin:0;}
</style>
<script>
$(document).scroll(function () {
    var n = $(document).scrollTop(), t;
    n > 100 ? $("#box-icon-top").fadeIn("slow") : $("#box-icon-top").fadeOut("slow");
    t = parseInt($("#header-main").outerHeight(!0)) + parseInt($("#menu-main").outerHeight(!0)) + parseInt($(".nav-sub").outerHeight(!0));
    n >= t ? ($(".tabs").css({
        position: "fixed",
        top: 0
    }), $(".tabs").addClass("fixed-top")) : ($(".tabs").css({
        position: "relative",
        top: 0
    }), $(".tabs").removeClass("fixed-top"))
});
</script>
<div id="content-main">
<div class="nav-sub">
<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a itemprop="url" title="Trang chủ" href="/">
        <span itemprop="title">Trang chủ </span></a>
    <strong>›</strong>
</span>
    {loop="$product_info.productPath.0.path"}
<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a itemprop="url" title="{$value.name}" href="{$value.url}"><span itemprop="title">{$value.name}</span></a>
    {if="$counter < sizeof($product_info.productPath.0.path)-1"}<strong>›</strong>{/if}
</span>
    {/loop}
</div>
<div id="content-box">
<h1 id="product-name">{$product_info.productName}</h1>
<p class="clearfix"></p>
<ul class="tabs">
    <li class="active"><a href="#overview" data-scroll="">Tổng quan</a></li>
  	<li class="">
        <a href="#description" data-scroll="">
            <span class="h-infom">Mô tả</span>
            <span class="h-info-m">Mô tả</span>
        </a>
    </li>
    <li class="">
        <a href="#specifications" data-scroll="">
            <span class="h-infom">Thông số</span>
            <span class="h-info-m">Thông số</span>
        </a>
    </li>
    <li class="last"><a href="#video_pd" data-scroll=""><b></b> Video</a></li>
</ul>
<div class="main-body">
<div id="overview">
    <div class="overview-left">
        <p class="clearfix"></p>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.1/css/swiper.css" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.0.1/js/swiper.js"></script>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {if="sizeof($product_info.productThumList) > 0"}
                {loop="$product_info.productThumList"}
              	{if="strpos($value.original,'color_config') <= 0"}
                <div class="swiper-slide"><img src="{$value.original}" alt="{$product_info.productName}"/> </div>
              	{/if}
                {/loop}
                {else}
                <div class="swiper-slide"><img src="{$product_info.productImage.original}" alt="{$product_info.productName}"/> </div>
                {/if}
            </div>
            <div class="swiper-pagination pagination-top"></div>
        </div><!--swiper-container-->
        <script>
            var swiper = new Swiper('.swiper-container', {
                pagination: '.pagination-top',
                paginationClickable: true,
                autoplay: 2500
            });
        </script>
        <style>.swiper-container {width: 100%;height: 100%;margin:5px 0}.swiper-container .swiper-slide img{width:100%}</style>
    </div>
    <div class="overview-right" style="margin-top:10px;">
      	<p class="left">{if="$product_info.productSKU!=''"}<b>Mã hàng:</b> {$product_info.productSKU}    |   {/if}
          <img {if="$product_info.rating < 4"}src="{#IMAGE_PATH#}star_4.png"{else}src="{#IMAGE_PATH#}star_{$product_info.rating}.png"{/if} alt="rating" style="vertical-align:bottom;"/>
      </p>
        <div class="line"></div>
        <div class="clear"></div>
      {if="$product_info.productSummary!=''"}
        <div class="detail-summary">{$product_info.productSummary}</div>
        <div class="line"></div>
      {/if}
        <table style="float: left;width: 100%;margin-left: -2px; line-height:22px;">
            {if="$brand_info.name!=''"}
            <tr>
              <td width="90">Thương hiệu:</td>
              <td><a href="{$brand_info.url}">{$brand_info.name}</a></td>
            </tr>
            {/if}
            {if="$product_info.warranty != 0"}
            <tr>
              <td width="90">Bảo hành:</td>
              <td>{$product_info.warranty}</td>
            </tr>
          	{else}
          	<tr>
              <td width="90">Bảo hành:</td>
              <td>12 tháng</td>
            </tr>
            {/if}
            {if="$product_info.productModel != 0"}
            <tr>
              <td width="90">Xuất xứ:</td>
              <td>{$product_info.productModel}</td>
            </tr>
            {/if}
            <tr width="90">
                <td>Tình trạng:</td>
              <td style="color:#0000CD;">
                {if="$product_info.quantity == 0"}Tạm hết hàng
                {elseif="$product_info.quantity==1 || $product_info.quantity > 1"}Còn hàng
                {elseif="$product_info.quantity==-1"}Liên hệ
                {elseif="$product_info.quantity==-2"}Sắp có hàng
                {elseif="$product_info.quantity==-3"}Gọi để có giá tốt
                {elseif="$product_info.quantity==-4"}Vừa có hàng
                {elseif="$product_info.quantity==-6"}Ngừng kinh doanh
                {/if}
                
                
              </td>
            </tr>
          <tr>
            <td colspan="2">
              {if="sizeof($store_list) > 0 && $product_info.quantity > 0"}
              <!--{$total = 0}-->
              <div id="shop-status">
                <span class="title" onclick="$('#shop-status .content').toggle()">Đang có hàng tại <span class="numberShop">{$total}</span> cửa hàng</span>
                <div class="content">
                  <ul>
                    {loop="$store_list"}
                    
                    {$store_code = $value.store_code}
                    {$inStock = false}
                    {loop="$product_in_store[$store_code]"}{if="$value.quantity > 0"}{$inStock = true}{/if}{/loop}
                    
                    {if="$inStock==true"}
                    <li>
                      <!--{$total++}-->
                      <span class="red">{$value.store_name}</span>
                      <span class="title-color">Hiện có màu</span>
                      {loop="$product_in_store[$store_code]"}
                      {if="$value.quantity > 0"}
                      <span class="product-in-store" data-sku="{$value.item_sku}">{$value.item_sku}</span> &nbsp;
                      {/if}
                      {/loop}
                    </li>
                    {/if}
                    {/loop}
                  </ul>
                </div>
              </div>
              <script>
                var totalShop = {$total};
                if(totalShop==0) $("#shop-status").hide();
                $("#shop-status .title .numberShop").html("{$total}");
              </script>
              {/if}
            </td>
          </tr>
        </table>
        {if="$product_info.accessory != '0' && $product_info.accessory != ''"}
        <div class="accessory_pd" style="float:left;width:100%">
          <div class="title" style="margin-bottom: 5px">Sản phẩm bao gồm: {$product_info.accessory}</div>
        </div>
        {/if}
        {if="$product_info.configList !=''"}
        <div class="tbl_config" style="margin-top:10px;"></div>
        <div class="clear"></div>
        {/if}
        {if="$product_info.marketPrice > $product_info.price"}
        <div class="detail-old-price">Giá niêm yết: <span>{$product_info.marketPrice|format_price} đ</span></div>
        {/if}
        <div class="detail-price">Giá: <span class="price_config" data-price="{$product_info.price}">{if="$product_info.price > 0"}{$product_info.price|format_price} đ{else}Liên hệ{/if}</span></div>
        {if="sizeof($product_info.specialOffer) > 0"}
      <div class="detail-offer">
        <b><img src="{#IMAGE_PATH#}KM.gif" style="vertical-align:top" alt="icon khuyến mại"/>Khuyến mại từ Xuân Vũ Audio:</b>
        <div style="white-space: pre-line">{loop="$product_info.specialOffer"}{$value.title}{/loop}</div>
      </div>
      
      {/if}
      {if="$product_info.quantity==1 || $product_info.quantity > 1"}
        <a id="buyNowConfig" href="javascript:addToShoppingCart('pro','{$product_info.productId}',1,'{$product_info.price}')" class="button-detail buy-now"><i class="icon22 icon-buy"></i> Mua ngay</a>
        <a id="addCartConfig" href="javascript:addToShoppingCartStop('pro','{$product_info.productId}',1,'{$product_info.price}')" class="button-detail add-cart"><i class="icon22 icon-addcart"></i> Cho vào giỏ</a>
        <!--<a href="{$product_info.accessory}" target="_blank" class="button-detail download"><i class="icon22 icon-download"></i> Tải báo giá</a>-->
      {/if}
        <div class="clearfix"></div>
        <div id="call-buy">
            <p><i class="icon22 icon-call"></i> Hotline Hà nội :  <b>097395 3333</b> (8h30 - 21h)</p>
            <p><i class="icon22 icon-call"></i> Hotline Hồ chí minh :  <b>097844 5555</b> (8h30 - 21h)</p>
        </div>
    </div><!--overview-->
    <div class="clearfix"></div>
	<!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
          	<a class="addthis_button_tweet"></a>
        </div>
        <script type="text/javascript" defer src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5148003b01a03b86"></script>
        <!-- AddThis Button END -->
</div>
{if="strlen($product_info.productDescription) > 10"}
<div class="article-content" style="position: relative;margin-top: 15px" id="description">
  	<h2 class="title_pd_02">Đặc điểm nổi bật của {$product_info.productName}</h2>
    <div class="pull-left">
        <article id="article">
            <div itemprop="reviewBody" class="reviewBody nd">
               {$product_info.productDescription}
            </div>
            <div class="clr"></div>
        </article>
      	{if="$product_info.quantity==1 || $product_info.quantity > 1"}
        <div class="ecombtns">
            <a class="orderbtn orange" href="javascript:addToShoppingCart('pro','{$product_info.productId}','1','{$product_info.price}');" rel="nofollow">
                <b>ĐẶT MUA</b>
                <sub>(Đến Showroom mua hoặc giao hàng tận nơi)</sub>
            </a>
            <div class="clr"></div>
        </div>
      	{/if}
    </div>
</div>
<p>&nbsp;</p>
{/if}
{if="strlen($product_info.productSpec) > 10 || strlen($product_info.productTechnicalTable) > 10"}
<div id="specifications" class="nd">
    <h2 class="title_pd_02">Thông số kỹ thuật của {$product_info.productName}</h2>
    {$product_info.productSpec}
  	{$product_info.productTechnicalTable}
    <p class="clearfix"></p>
</div>
{/if}

  {if="sizeof($product_info.video_code) > 0"}
<div id="video_pd" class="nd">
  <h2 class="title_pd_02">Video về {$product_info.productName}</h2>
  {loop="$product_info.video_code"}
        
        <div>{$value.html}</div>
        <br>
        
        {/loop}
</div>
{/if}
        
  
  <style>h4.title_pd_02{border-bottom: 1px solid #ccc;margin-bottom: 15px;padding-bottom: 5px;}</style>
<p>&nbsp;</p>
  {if="sizeof($relate_article_list.article) > 0"}
  <div id="newsa">
    <div id="news" class="news-list">
      <h2 class="title_pd_02" style="margin-bottom:0">Bài viết liên quan về {$product_info.productName}</h2>
      
      {loop="$relate_article_list.article"}
      {if="$counter < 3"}
      <div class="item">
        <img alt="{$value.title}"src="{$value.image.thum}"style="opacity: 1; display: block;"/>
        <a href="{$value.url}" class="block" title="{$value.title}">{$value.title}</a>
        <div class="counts"><span><i class="fa fa-eye"></i> {$value.visit}  lượt xem</span></div>
        <div class="clr"></div>
      </div>
      {/if}
      {/loop}
      <p class="clearfix"></p>
    </div>
  </div>
  {/if}
  </div>
<div class="article-content" style="position: relative;">
    <div class="pull-left">
        <div class="wrapcomment">
            <div id="comment" class="comment">
              <h2 class="title_pd_02">Bình luận về {$product_info.productName}</h2>
				{include="product/product_detail_review"}
            </div><!--comment-->
        </div>
    </div>
    <div class="pull-right croll-fixer "></div>
    <div class="clr"></div>
</div>
</div>
<p class="clearfix"></p>
</div><!--content-main-->
  <script>
    $(function(){
      $(".tabs a").click(function(){
        $(".tabs a").removeClass("active");
        $(this).addClass("active");
        $('body,html').animate({scrollTop:$($(this).attr("href")).offset().top - 50},800);
        return false;
      });     
    });
    $('body').click(function (e) {
      var targ = $("#shop-status");
      if (!targ.is(e.target) && targ.has(e.target).length === 0) {
          $('#shop-status .content').fadeOut(300);
      }      
    });
  </script>
{if="$product_info.configList!=''"}
<input type="hidden" id="proID" value="{$product_info.productId}"/>
<input type="hidden" id="proPrice" value="{$product_info.price}"/>
<input type="hidden" id="priceConfig" value="{$product_info.price}"/>
<script>
	var hasAddon = 'false';
  	var product_config = {$product_info.configList};
</script>
  <script>
  function getColorFormSKU(sku){
     if (typeof product_config !== 'undefined') {
    	var color = "";
    	var configAttributeTemp = [];
    	var configAttribute = [];
    
        Object.keys(product_config.config_list).forEach(function(key, keyIndex) {
           var skuConfig = product_config.config_list[key].sku;
    	   if(skuConfig == sku) configAttribute.push(product_config.config_list[key].config_attribute);
        });
    	
    	configAttributeTemp.forEach(function(item,index){
    		var item = configAttributeTemp[index].split("-");
    		configAttribute.push(item);
    	});

    	for (var i = 0; i < product_config.filter.length; i++) {
          var filter = product_config.filter[i];
          var value_list = product_config.filter[i].value_list;
          if (filter.code.indexOf('color') > -1 || filter.code.indexOf('mau_sac') > -1) {
      		for (var j = 0; j < value_list.length; j++) {
    			var idColor = value_list[j].id;
    			
    			if(configAttribute.indexOf(idColor) > -1){
                    var name = value_list[j].name;
                    color = name.substring(0, 7);
    				
    				return color;
    			}
                    
            }
          }
    	}
      }  
  }  
  $(".product-in-store").each(function(){
  	 var sku = $(this).attr("data-sku");
     var color = "";
     color = getColorFormSKU(sku);
    	
     if(color!='' && color!= undefined){
    	$(this).attr("style","background-color:"+color+"; font-size:0");
    	$(this).addClass("hasColor");
     }
  });  
    
    
  if (typeof product_config !== 'undefined') {
    var configAttribute = [];
    var arrConfig = [];
    var currentID = [];
    var currentCheckID = [];
    var arrEnable = [];
    var currentParent = "";
    var htmlTableConfig = "";
    var htmlVersion = "";
    var proID = $("#proID").val();
    var proPrice = $("#proPrice").val();



    //Tạo mảng configAttribute chứa các config_attribute
    Object.keys(product_config.config_list).forEach(function(key, keyIndex) {
        configAttribute.push(product_config.config_list[key].config_attribute);
    });
	
    //Tạo giao diện chọn thuộc tính
    for (var i = 0; i < product_config.filter.length; i++) {
        var filter = product_config.filter[i];
        var value_list = product_config.filter[i].value_list;
        if (filter.code.indexOf('color') > -1 || filter.code.indexOf('mau_sac') > -1) {
            htmlTableConfig += "<div class='item-config'>";
            htmlTableConfig += "<p class='title'>Màu sắc</p>";
            htmlTableConfig += "<p id='mau_sac'>";
            for (var j = 0; j < value_list.length; j++) {
                var name_c = value_list[j].name.split("|");
                var color = name_c[0].trim();
                var text = name_c[1].trim();
				
    			if(color.indexOf(".jpg") > -1 || color.indexOf(".png") > -1 || color.indexOf(".gif") > -1)
    			htmlTableConfig += "<b id='" + value_list[j].id + "' class='item-attribute-config'><img src='/media/lib/"+color+"' /></b>"
    			else
                htmlTableConfig += "<b id='" + value_list[j].id + "' style='background-color:"+color+"' class='item-attribute-config'></b>"
                    
            }
            htmlTableConfig += "</p></div>";
        } else if(filter.code.indexOf('size') > -1) {
            htmlTableConfig += "<div class='item-config'>";
            htmlTableConfig += "<p class='title'>" + filter.name + "</p>";
            htmlTableConfig += "<p>";
            for (var j = 0; j < value_list.length; j++) {
                var name = value_list[j].name;

                htmlTableConfig += "<b id='" + value_list[j].id + "' class='item-attribute-config'><span class='bg-selected'></span>" + name + "</b>"
            }
            htmlTableConfig += "</p>&nbsp;<a href='/page/huong-dan-chon-size' class='size-guide'>Hướng dẫn chọn size</a></div>";
        } else {
        	htmlTableConfig += "<div class='item-config'>";
            htmlTableConfig += "<p class='title'>" + filter.name + "</p>";
            htmlTableConfig += "<p>";
            for (var j = 0; j < value_list.length; j++) {
                var name = value_list[j].name;

                htmlTableConfig += "<b id='" + value_list[j].id + "' class='item-attribute-config'><span class='bg-selected'></span>" + name + "</b>"
            }
            htmlTableConfig += "</p></div>";
        }
    }

    //Chọn lại
    function resetConfigSelected(a) {
        $("." + a).removeClass("selected");
        $("." + a).removeClass("disable");
        $("." + a).find("span").remove();
        currentID = [];

        resetAll();
    }

    //Kiểm tra mảng con có thuộc mảng cha hay không
    function isItemInArray(array, item) {
        var r = true;
        for (var i = 0; i < item.length; i++) {
            if (array.indexOf(item[i]) == -1) r = false;
        }
        return r;
    }

    //Format giá tiền
    function formatCurrency(a) {
        var b = parseFloat(a).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1.").toString();
        var len = b.length;
        b = b.substring(0, len - 3);
        return b;
    }

    //So sánh 2 mảng bằng nhau
    function compareArrays(arr1, arr2) {
        return $(arr1).not(arr2).length == 0 && $(arr2).not(arr1).length == 0
    };

    //Tảo mảng các thuộc tính đã được chọn theo ID
    function getCurrentId(a) {
        var item_attribute = $("." + a);
        b = [];
        item_attribute.each(function() {
            if ($(this).hasClass("selected")) {
                b.push($(this).attr("id"));
            }
        });
        return b;
    }


    //reset lai trang thai ban dau:
    function resetAll() {
        $("#addCartConfig").attr("onclick", "alert('Bạn chưa chọn cấu hình sản phẩm cần mua')");
        //$("select.addon_service").attr("disabled", "disabled");
        $("#config-version .title").html("Chọn phiên bản");
        $("select.addon_service").val(0);
        $(".price_config").html(formatCurrency(proPrice));
        $(".price_config").attr("data-price", proPrice);
    }

    $(function() {
        $(".tbl_config").html(htmlTableConfig);
        $("#col-config-version").html(htmlVersion);

        for (var i = 0; i < configAttribute.length; i++) {
            var temp = configAttribute[i].split("-");
            arrConfig.push(temp);
        }

        $(".item-attribute-config").click(function() {
            if ($(this).hasClass("disable")) {
                return false;
            }
            if ($(this).hasClass("selected")) {
                //$(this).removeClass("selected");
            } else {
                $(this).parent().find(".item-attribute-config").removeClass("selected");
                $(this).addClass("selected");
                $(this).addClass("enabled");
            }

            currentID = getCurrentId("item-attribute-config");

            $(".item-attribute-config").removeClass("disable");
            $(".item-attribute-config").removeClass("enabled");
            $(".item-attribute-config.selected").addClass("enabled");
            currentCheckID = [];

            $(".item-attribute-config").each(function() {
                currentCheckID = [];
                var id = $(this).attr("id");

                $(this).parent().find(".item-attribute-config").removeClass("enabled");
                $(this).addClass("enabled");

                $(".item-attribute-config").each(function() {
                    if ($(this).hasClass("enabled")) currentCheckID.push($(this).attr("id"))
                });

                var disable = true;
                for (var i = 0; i < arrConfig.length; i++) {
                    var arrTemp = arrConfig[i];
                    if (isItemInArray(arrTemp, currentCheckID)) disable = false;
                }
                if (disable == true) $(this).addClass("disable");

                $(".item-attribute-config").removeClass("enabled");
                $(".item-attribute-config.selected").addClass("enabled");
                currentCheckID = [];
            });

            for (var i = 0; i < arrConfig.length; i++) {
                var arrTemp = arrConfig[i];

                if (compareArrays(currentID, arrTemp)) {
                    var key = "";
                    for (var n = 0; n < arrTemp.length; n++) {
                        if (n > 0) key += "_" + arrTemp[n];
                        else key += arrTemp[n];
                    }
                    key = "a" + key;
                    var priceConfig = product_config.config_list[key].price;
    
    				var img = product_config.config_list[key].image_list;
    				var imgConfig = product_config.config_list[key].image;
    				$.each(img,function(index,value){
    					if(value.indexOf('color_config') == -1) {
    						imgConfig = value; return false;
    					}
    				});
    				
    
                    var priceAddon = 0;
                    if ($("#select-addon-list").length > 0)
                        priceAddon = $("#select-addon-list option:selected").attr("data-price");
                    var priceDisplay = parseInt(priceConfig) + parseInt(priceAddon);

                    var idConfig = product_config.config_list[key].id;
                  	var qConfig = 1;
    				
    				if(priceDisplay > 0) $(".price_config").html(formatCurrency(priceDisplay) + " đ");
    				else $(".price_config").html("Liên hệ");
    
                    $(".price_config").attr("data-price", priceDisplay);
                    $("#priceConfig").val(priceConfig);
                  
                    $("#buyNowConfig").attr("href", "javascript:addToShoppingCart('pro','" + proID + "_" + idConfig + "','"+qConfig+"','" + priceConfig + "')");
                    $("#addCartConfig").attr("href", "javascript:addToShoppingCartStop('pro','" + proID + "_" + idConfig + "','"+qConfig+"','" + priceConfig + "')");
                    
    				var countSlide = 0;
    				$(".swiper-slide").each(function(){
    					
    					var img = $(this).find("img").attr("src");
    					
    					if(img == "/media/product/"+imgConfig){
    						swiper.slideTo(countSlide)
    					}
    					countSlide++;
    					
    				});


                }

                $("#sel_quantity").change(function(){
                	$(".item-attribute-config.selected").click();
                });
              	
                if (isItemInArray(arrTemp, currentID)) {
                    for (var j = 0; j < arrTemp.length; j++) {
                        if (currentID.indexOf(arrTemp[j]) == -1) $("#" + arrTemp[j]).removeClass("disable");
                    }
                }
            }
        });
        
      
      	var color_code = "mau_sac";
        //Hiển thị ảnh cho thuộc tính màu sắc
        $("#"+color_code+" b").each(function(){
            var colorId = $(this).attr("id");

			var _this = $(this);
            for (var i = 0; i < arrConfig.length; i++) {
                var key = "";
                var arrTemp = arrConfig[i];
                if($.inArray(colorId,arrTemp) > -1){
                    for (var n = 0; n < arrTemp.length; n++) {
                        if (n > 0) key += "_" + arrTemp[n];
                        else key += arrTemp[n];
                    }
                    key = "a" + key;
                    var img = product_config.config_list[key].image_list;
    				$.each(img,function(index,value){
    					
    					if(value.indexOf('color_config') > -1) {
    						_this.html("<img src='/media/product/"+value+"' />"); return false;
    						
    					}
    				});
                }

            }

        });
		//Chọn cấu hình đầu tiên
        for(var i=0; i < arrConfig[0].length; i++){
            $("#"+arrConfig[0][i]).click();
        }

        /*
        var priceMin = 999999999999;
        var positionMin = 0;
        for (var i = 0; i < arrConfig.length; i++) {
            var arrTemp = arrConfig[i];

            var key = "";
            for (var n = 0; n < arrTemp.length; n++) {
                if (n > 0) key += "_" + arrTemp[n];
                else key += arrTemp[n];
            }
            key = "a" + key;

            var priceConfig = product_config.config_list[key].price;

            if (parseInt(priceConfig) < parseInt(priceMin)) {
                priceMin = parseInt(priceConfig);
                positionMin = i;
            }

        }

        for (var i = 0; i < arrConfig[positionMin].length; i++) {
            $("#" + arrConfig[positionMin][i]).click();
            $("#" + arrConfig[positionMin][i] + " input").prop('checked', true);
        }*/

    });
}
  </script>
{/if}