<script type="text/javascript">
$(document).ready(function(){
$("a").each(function(){
  url = location.href.toLowerCase();
  if (this.href.toLowerCase() == url) {
      $(this).addClass("current");
    }
   });
});
</script>

{if="strpos($current_page_url,'&content=banner_left') > 0"}<!--Lay banner danh mục sp ngoai trang chu-->
	{loop="$banner_product_list[3]"}{$value.display}{/loop}
{elseif="strpos($current_page_url,'&content=brand') > 0"}<!--Lay bo lọc thuong hieu ra menu-->
    {if="sizeof($brand_filter_list) > 0"}
      {loop="$brand_filter_list"}
      <a href="{function="str_replace('?type=ajax&content=brand','',$value.url)"}">{$value.name}</a>
      {/loop}
    {/if}
{elseif="strpos($current_page_url,'&content=price_filter') > 0"}<!--Lay bo loc khoang gia ra menu-->
  {if="sizeof($price_filter_list) > 0"}
        {loop="$price_filter_list"}
			<a href="{function="str_replace('?type=ajax&content=price_filter','',$value.url)"}"><span>Từ </span>{$value.name}</a>
        {/loop}
      {/if}
{elseif="strpos($current_page_url,'type=ajax&content=banner_bottom') > 0"}
	{loop="$banner_product_list[4]"}
		{if="$counter < 3"}
		<div class="item_adv_right"><a href="{$value.desUrl}"><img src="{$value.fileUrl}" alt="{$value.title}"/> </a></div>
		{/if}
    {/loop}
{elseif="strpos($current_page_url,'type=ajax&content=product') > 0"}<!--Lay danh mục sp ra trang chu khi click vao tab con-->
  {loop="product_list"}
    {if="$counter < 8"}
    <li class="item">
      {if="$value.marketPrice > $value.price"}
      {$temp = 100 - $value.price*100/$value.marketPrice;}
      {$percent = ceil($temp);}
      <div class="price_off">-{$percent}%</div>
      {/if}
      {if="sizeof($value.specialOffer) > 0"}<div class="is_specialOffer">Quà tặng</div>{/if}
      <div class="p_container">
        <a href="{$value.productUrl}" class="p-img">
          <img src="{$value.productImage.large}" alt="{$value.productName}" />
        </a>
        <a href="{$value.productUrl}" class="p-name">{$value.productName}</a>
        <div class="center price_item">
          <span class="p-price">{if="$value.price > 0"}{$value.price|format_price}đ{else}Liên hệ{/if}</span>
          <span class="p-old-price">{if="$value.marketPrice > $value.price"}{$value.marketPrice|format_price}đ{else}{/if}</span>
        </div>
      </div>
    </li>
    {/if}
  {/loop}
{if="$product_count == 0"}<p>Danh mục đang cập nhật</p>{/if}
{else}
<div class="container">
<div id="breadcrumb">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url" class="nopad-l">
        <span itemprop="title">Trang chủ</span>
      </a> ›
    </div>

    {loop="$current_category.path.path"}
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{$value.url}" itemprop="url">
        <span itemprop="title">{$value.name}</span>
      </a>{if="$counter < sizeof($current_category.path) - 1"} ›{/if}
    </div>
    {/loop}


  </div><!--breadcrumb-->
  <div class="clear"></div>

  <script>
    $(function() {
      $(".rslides").responsiveSlides({
    	pager: true
      });
    });
  </script>
  <style>
  .pro-list.rslides li img{width:auto; float:none; margin:auto;}
  </style>

  
  <!--
  {if="isset($url_meta) && strlen($url_meta.meta_title) > 3"}
  	<h1 class="h-title">{$url_meta.meta_title}</h1>
  	<div>{$url_meta.summary}</div>
  	<br>
  {else}  
    <h1 class="h-title">{$current_category.name}</h1>
    <br>
  {/if}
  -->

  <div class="clear"></div>
  <section id="content" class="left">
    <h1 class="h-title current" style="text-transform:uppercase; margin-bottom:10px;">{$current_category.name}</h1>
    {if="sizeof($banner.product_list[5]) > 0"}
    <div class="slider slide_home" style="position:relative; margin-bottom:10px;">
      <ul class="rslides pro-list">
        {loop="banner.product_list[5]"}
        <li><a href="{$value.desUrl}"><img src="{$value.fileUrl}" alt="{$value.title}" /></a></li>
        {/loop}
      </ul>
    </div>
    {/if}

    {if="isset($url_meta) && strlen($url_meta.meta_title) > 3"}
    <div class="summary-cat">{$url_meta.summary}</div>
    {elseif="strlen($current_category.summary) > 10"}
    <div class="summary-cat">{$current_category.summary}</div>
    {/if}

    <div class="title-product-list">
      <!--<h1 class="h-title current">{$current_category.name}</h1>-->
      <div class="paging" style="float:right; margin-top:0; margin-right:10px;">
       <!-- {$paging}-->
        <select id="sort-by" onchange="location.href=this.value" style="float:right; height:26px; margin:6px;">
          <option value="0">Sắp xếp sản phẩm</option>
          {loop="$sort_by_collection"}
          {if="$value.key=='price-desc' || $value.key=='price-asc'"}
          <option value="{$value.url}">{$value.name}</option>
          {/if}
          {/loop}
        </select>

        <select id="other_filter" onchange="location.href=this.value" style="float:right; height:26px; margin:6px;">
          <option value="0">Lọc sản phẩm</option>
          {loop="$other_filter_collection"}
            <option value="{$value.url}">{$value.name}</option>
          {/loop}
        </select>

      </div>
      <div style="float:left;">


      <div class="sapxep_list" style="float:left; position:relative; margin-left:10px; right:0;">
        <b class="fl" style="padding-right:5px;">Hiển thị:</b>
        <div class="sapxep">
          {if="USER_PRODUCT_DISPLAY_OPTION == 'grid' || !USER_PRODUCT_DISPLAY_OPTION "}
          <a href="?display=grid" class="current"><i class="icon_grid"></i>Lưới / </a>
          <a href="?display=list"><i class="icon_list"></i>Danh sách</a>
          {elseif="$display_by=='list'"}
          <a href="?display=grid"><i class="icon_grid"></i>Lưới / </a>
          <a href="?display=list" class="current"><i class="icon_list"></i>Danh sách</a>
          {/if}
        </div>
      </div>
      </div>
    </div><!--title-product-list-->
  	<div class="clear"></div>
    {if="USER_PRODUCT_DISPLAY_OPTION == 'grid' || !USER_PRODUCT_DISPLAY_OPTION "}
    <div class="product-list border_l_r">
      <ul class="ul">
        {loop="product_list"}
        {include="product/product_item"}
        {/loop}
      </ul>
      </div><!--product-list-->	
    {else}
    <div id="product_page">
    <table class="pro_item_list">
      <tbody>
        {loop="product_list"}
        <tr>
          <td class="image_item">
            <a href="{$value.productUrl}">
              {if="$value.productImage.medium != ''"}
              <img src="{$value.productImage.large}" alt="{$value.productName}" class="lazy" />
              {else}
              <img src="{#IMAGE_PATH#}noimage.png" alt="{$value.productName}" class="lazy" />
              {/if}
            </a>
          </td>
          <td class="">
            <a href="{$value.productUrl}" class="pro_name">{$value.productName}</a>
            <div class="clear"></div>
            
            <div class="line_h22 txt_n">
              {$value.productSummary}
            </div>
            
          </td>
          <td class="pro_info">
            <span class="pro_info_price">{if="$value.price > 0"}{$value.price|format_price} đ{else}Liên hệ{/if}</span>
            <span class="pro_info_quantity">({if="$value.quantity > 0"}Còn hàng{else}Hết hàng{/if})</span>
            <span class="pro_info_view"><strong>Lượt xem: </strong>{$value.visit}</span>
            <a href="javascript:addToShoppingCart('pro','{$value.productId}',1,'{$value.price}')" class="addCart">Cho vào giỏ</a>
          </td>
        </tr>
        {/loop}
      </tbody>
    </table>
    </div>
    {/if}
    <div class="clear"></div>
    <div class="paging">{$paging}</div>
    <div class="clear"></div>
    
    {if="strlen($current_category.static_html) > 3"}
    <div class="static_html" style="margin-top:10px">
      <div class="summary">
      {|subString:$current_category.static_html,800}
      </div>
      <div class="content" style="display:none;">
      {$current_category.static_html}
      </div>
      {if="strlen($current_category.static_html) > 800"}
      <div class="read_continue" style="text-align:right;"><a href="javascript:;">Xem thêm...</a></div>
      {/if}
    </div>
    <style>
      .read_continue a{float: right;font-size: 12px;margin-top: 10px;color: #0484bb}
    </style>
    <script>
      $(function(){
       
        $('.read_continue').click(function(){
            if($(this).hasClass('act')){
                $(this).removeClass('act');
      			$(this).find('a').html('Xem thêm...');
      			$('.static_html .summary').show();
                $('.static_html .content').hide();
            }else{
                $(this).addClass('act');
                $(this).find('a').html('Hiện thị ngắn gọn');
                $('.static_html .content').show();
      			$('.static_html .summary').hide();
            }
        });
      });
    </script>
    {/if}
    
  </section>
  <div id="right-pro-list">
    <div class="content-common" style="border:solid 1px #ddd;background:#f9f9f9;padding:10px">

      {if="$current_category.is_parent==1"}
      <b class="title-filter">Danh mục</b>

      <ul class="ul list-filter">
        {if="$current_category.is_parent==1"}
        {loop="$product_category[$current_category.id]"}
        {if="isset($product_per_child[$value.id]) && $product_per_child[$value.id] > 0"}
        <li style="margin-top:10px; margin-bottom:10px;"><a href="{$value.url}">{$value.title}</a> ({$product_per_child[$value.id]})</li>
        {/if}
        {/loop}
        {else}
        {loop="$product_category[$current_category.parent_id]"}
        {if="isset($product_per_child[$value.id]) && $product_per_child[$value.id] > 0"}
        <li style="margin-top:10px; margin-bottom:10px;"><a href="{$value.url}">{$value.title}</a> ({$product_per_child[$value.id]})</li>
        {/if}
        {/loop}
        {/if}
      </ul>
      {/if}

      
      {loop="$attribute_filter_list"}
      {if="$value.attributeName=='Loại sản phẩm'"}
      <ul class="ul list-filter" id="cat-check">
        {loop="$value.filterList"}
        <li><input class="" type="checkbox" {if="$value.isCurrent==1"}checked="checked"{/if} onclick="location.href='{$value.url}'"/> 
          {if="$value.id==1"}<img src="{#IMAGE_PATH#}icon_in_cat_giamgia.jpg" alt="" />{/if}
          {if="$value.id==2"}<img src="{#IMAGE_PATH#}icon_in_cat_kmlon.jpg" alt="" />{/if}
          {if="$value.id==3"}<img src="{#IMAGE_PATH#}icon_in_cat_km.jpg" alt="" />{/if}
          {if="$value.id==4"}<img src="{#IMAGE_PATH#}icon_in_cat_moi.jpg" alt="" />{/if}
        </li>
        {/loop}
      </ul>
      {/if}
      {/loop}
      
      {if="sizeof($brand_filter_list) > 0"}
      <b class="title-filter">Thương hiệu</b>
      <ul class="ul list-filter">
        {if="isset($current_brand.id)"}
          {loop="$brand_filter_list"}
            {if="$current_brand.id == $key"}
            <li>{$value.display}</li>
            {/if}
          {/loop}
        {else}
          {loop="$brand_filter_list"}
          <li><input class="" type="checkbox" {if="strpos($current_page_url,'brand') > 0"}checked="checked"{/if} onclick="location.href='{$value.url}'"/> <a href="{$value.url}">{$value.name}</a> ({$value.count})</li>
          {/loop}
        {/if}
        
      </ul>
      {/if}
      {if="sizeof($price_filter_list) > 0"}
      <b class="title-filter">Khoảng giá</b>
      <ul class="ul list-filter">
        {loop="$price_filter_list"}
        <li><input class="" type="checkbox" {if="$value.isCurrent==1"}checked="checked"{/if} onclick="location.href='{$value.url}'"/> <a href="{$value.url}"> <span>Từ</span> {$value.name}</a> <span>({$value.count})</span></li>
        {/loop}
      </ul>
      {/if}

      
      {if="sizeof($attribute_filter_list) > 0"}
      {loop="$attribute_filter_list"}
      {if="$value.attributeName!='Loại sản phẩm'"}
      <b class="title-filter">{$value.attributeName}</b>
      <ul class="ul list-filter">
        {loop="$value.filterList"}
        <li><input class="" type="checkbox" {if="$value.isCurrent==1"}checked="checked"{/if} onclick="location.href='{$value.url}'"/> <a href="{$value.url}">{$value.name}</a> <span>({$value.count})</span></li>
        {/loop}
      </ul>
      {/if}
      {/loop}
      {/if}
    </div><!--content-->
    <div class="clear"></div>
  </div><!--col-right-->
</div><!--container-->
{/if}