<div class="lead_sub7">
    <div id="breadcrumb">
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/" itemprop="url" class="nopad-l">
          <span itemprop="title">Trang chủ</span>
        </a> ›
      </div>
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <span itemprop="title">&nbsp;&nbsp; Đăng Nhập</span>
      </div>
    </div>
</div>

<div class='mainhome whome' style="margin-bottom: 20px;">
    <form action="/ajax/customer_login.php" method="post" name="loginForm" enctype="multipart/form-data">
        <!--important-->
        <input type="hidden" name="return_url" value="/taikhoan" />
        <input type="hidden" name="store_id" value="{$store_id}" />
        <input type="hidden" name="secure_key" value="{$login.secure_key}" />


        <table class="shadow cor" cellspacing="0" cellpadding="6" style="width:100%; border:1px solid #ddd;">
            <tbody><tr>
                <td style="width: 50%;" id="login_col">


                    <div id="login_title" style="padding: 5px 0px 10px; font-size: 13px; color: rgb(88, 88, 88);"><b>Thông tin khách hàng đăng nhập hệ thống</b></div>
                {if="$login.loginStatus =='0'"}
                    <p style="color:#F00; font-size:14px">Thông tin đăng nhập sai</p>
                {/if}

                    <input type="hidden" name="login" id="login" value="yes"/>
                    <table cellpadding="5" cellspacing="0">
                        <tr>
                            <td>Email đăng nhập</td>
                            <td><input type="text" size="25" name="email" id="email" /></td>
                        </tr>
                        <tr>
                            <td>Mật khẩu</td>
                            <td><input type="password" size="25" name="password" id="password" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div style="position: relative;">
                                    <input type="submit" value="Đăng nhập" />
                                    <span style="position: absolute;right: 0;top:7px;"><a href="/quen-mat-khau">Quên mật khẩu</a></span>
                                </div>
                            </td>
                        </tr>
                    </table>

                </td>
                <td width="10px">&nbsp;</td>
                <td valign="top" style="line-height: 18px;">


                    <div style="padding: 5px 0px 10px; font-size: 13px; color: rgb(88, 88, 88);"><b>Bạn chưa là thành viên</b></div>
                    Đăng ký là thành viên để hưởng nhiều lợi ích và đặt mua hàng dễ dàng hơn.
                    <p><a title="Click đăng ký tài khoản miễn phí" href="/dang-ky" style="color: rgb(1, 172, 241); font-weight: bold; text-decoration: none;">Đăng ký tài khoản</a></p>


                </td>
            </tr>

            </tbody></table>

    </form>
</div>
