<div class="lead_sub7">
  	<div id="breadcrumb">
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/" itemprop="url" class="nopad-l">
          <span itemprop="title">Trang chủ</span>
        </a> ›
      </div>
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <span itemprop="title">&nbsp;&nbsp;Bạn quên mật khẩu vào tài khoản?</span>
      </div>
    </div>
</div>

<!---->

<div class="page_sub7 shadow cor">
    <div class="page_sub7_in">

{if="$status == 1"}

<h2>Vui lòng kiểm tra email</h2>

<p>Chúng tôi vừa gửi 1 email vào địa chỉ email bạn cung cấp. Vui lòng xem vào làm theo hướng dẫn.</p>

    {else}

<form action="/ajax/reset_password_request.php" method="post" onsubmit="return check_field();" enctype="multipart/form-data">

    <h2>Bạn quên mật khẩu vào tài khoản?</h2>

    <p>Vui lòng nhập địa chỉ email đã đăng ký với chúng tôi để tạo mật khẩu mới. Chúng tôi sẽ gửi 1 email vào địa chỉ email cung cấp và yêu cầu xác minh trước khi có thể tạo mật khẩu mới</p>

    {if="$error_status == 1"}
        <p style="color:#F00">Email chưa đăng ký tài khoản!</p>
        {elseif="$error_status == 2"}
        <p style="color:#F00">Email của bạn không đúng</p>
        {elseif="$error_status == 3"}
        <p style="color:#F00">Bạn nhập sai chuỗi mã bảo mật</p>
    {/if}

    <table>
        <tr>
            <td>Nhập địa chỉ email đăng ký</td>
            <td><input type="text" size="40" name="email" id="email_register" /></td>
        </tr>
        <tr>
            <td>Mã bảo mật</td>
            <td><img src="/includes/captcha/captcha.php?v=" /><br /><input type="text" size="10" name="register_captcha" id="captcha_test" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Lấy mật khẩu" /></td>
        </tr>
    </table>

    <script type="text/javascript">
        function check_field() {
            var error = "";
            var email = document.getElementById('email_register').value;
            if (email.length < 4) error += "- Bạn chưa nhập email\n";
            var captcha = document.getElementById('captcha_test').value;
            if (captcha.length < 5) error += "- Bạn chưa nhập mã bảo mật\n";
            if (error != "") {
                alert(error);
                return false;
            }
            return true;
        }
    </script>


</form>

{/if}

        </div>
</div>