<div class="lead_sub">
	<div id="breadcrumb">
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/" itemprop="url" class="nopad-l">
          <span itemprop="title">Trang chủ</span>
        </a> ›
      </div>
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <span itemprop="title">&nbsp;&nbsp;Đăng Nhập</span>
      </div>
    </div>
</div>
<div class='container-in2'>
    <div class='container-m'>
        <!---->
        <div class='mainsub'>
            <div class='mainhome whome'>
                
                {if="$new_password != '' "}
                	
                    <p>Mật khẩu mới của bạn là: <b>{$new_password}</b></p>
                    
                    <p>Vui lòng đăng nhập vào tài khoản và đổi mật khẩu mới. Mật khẩu của bạn hoàn toàn được an toàn vì chúng tôi mã hóa và không ai biết được (kể cả chúng tôi).</p>
                
                {else}
                	
                    <p>Có lỗi xảy ra khi lấy mật khẩu. Vui lòng sử dụng lại chức năng lấy mật khẩu hoặc liên hệ bộ phận chăm sóc khách hàng của chúng tôi</p>
                    
                {/if}
                
            </div>
        </div>
    </div>
</div>