<div class="lead_sub">
	<div id="breadcrumb">
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/" itemprop="url" class="nopad-l">
          <span itemprop="title">Trang chủ</span>
        </a>
      </div>
    </div>
</div>
<div class='container-in2'>
    <div class='container-m'>
        <!---->
        <div class='mainsub'>
            <div class='mainhome whome'>
                
                {if="$status == 1 "}
                	
                    <p>Email của bạn đã được xác thực thành công</p>
                    
                    <p>Cảm ơn bạn</p>
                
                {else}
                	
                    <p>Có lỗi xảy ra. Vui lòng liên hệ bộ phận chăm sóc khách hàng của chúng tôi</p>
                    
                {/if}
                
            </div>
        </div>
    </div>
</div>