<div class="container">
<div id="breadcrumb">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url" class="nopad-l">
        <span itemprop="title">Trang chủ</span>
      </a> ›
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="#" itemprop="url">
        <span itemprop="title">Giới thiệu</span>
      </a>
    </div>
  </div><!--breadcrumb-->
  {include="other/column_left"}
  <div class="col-right">
    <div class="title-product-list"><h1 class="h-title current">Giới thiệu</h1></div>
        <div class="clear"></div>
      	{$about_us}
    </div>
</div><!--container-->