<div id="content-main">
<div class="nav-sub">
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" title="Trang chủ" href="/">
            <span itemprop="title">Trang chủ </span></a>
        <strong>›</strong>
    </span>
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a itemprop="url" title="" href="#"><span itemprop="title">Giới thiệu</span></a>
    </span>
</div>
  <div style="padding:10px; overflow:hidden;">
  <h1 style="font-size:18px; margin:10px 0;">Giới thiệu</h1>
  {$about_us}
  </div>
</div>