<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lay lai mat khau</title>
</head>

<body>

<h2>Chào bạn,</h2>

<p>Chúng tôi vừa nhận được yêu cầu lấy lại mật khẩu cho tài khoản (email: {$email_register}) đăng ký tại website {$website} </p>

<p>Vui lòng click chuột vào link dưới đây để cài lại mật khẩu:</p>

<p>{$reset_url}</p>

<p>Chú ý (*): Nếu bạn không gửi yêu cầu lấy mật khẩu này, vui lòng bỏ qua thông báo này. Việc tạo lại mật khẩu chỉ có hiệu lực trong 2 giờ kể từ khi yêu cầu được gửi.</p>
</body>
</html>
