<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Xac thuc email</title>
</head>

<body>

<h2>Cảm ơn quý khách đã đăng ký tài khoản tại website {$website},</h2>

<p>Vui lòng click chuột vào link dưới đây để xác thực địa chỉ email này:</p>

<p>{$verify_url}</p>

<p>Chú ý (*): Vui lòng bỏ qua thông báo này nếu quý khách không đăng ký tài khoản tại website của chúng tôi.</p>
</body>
</html>
