<div id="main-menu">
    <div class="title-main-menu">Product Categories</div>
    <ul class="ul menu" {if="$module.name!='home'"}style="display:none;"{/if}>
    <li>
        <span class="box_icon_cat"><img src="/template/default/images/icon_cat_saleoff.png" alt="Khuyến mại hot" class="icon-cat" /></span>
        <a href="/sale-off" class="root">Hot Promotions</a>
    </li>
    <li>
        <span class="box_icon_cat"><img src="/media/category/cb_4d485476e07e02638e8e2133cdf8f56d.png" alt="TAI NGHE" class="icon-cat"/></span>
        <a href="/tai-nghe.html" class="root">Headphones</a>
        <div class="sub-nav" style="min-height: 466px;">
            <div class="left">
                <h3>Phân loại</h3>
                <a href="/tai-nghe-in-ear.html" class="sub2">Tai Nghe In Ear</a>
                <a href="/tai-nghe-ear-bud.html" class="sub2">Tai nghe Ear Bud</a>
                <a href="/tai-nghe-on-ear.html" class="sub2">Tai nghe On Ear</a>
                <a href="/tai-nghe-over-ear.html" class="sub2">Tai Nghe Over Ear</a>
                <a href="/tai-nghe-clip-on.html" class="sub2">Tai Nghe Clip On</a>
                <a href="/tai-nghe-custom.html" class="sub2">Tai Nghe Custom</a>
                <a href="/tai-nghe-universal.html" class="sub2">Tai Nghe Universal</a>
                <a href="/tai-nghe-chong-on-noice-cancelling.html" class="sub2">Tai Nghe Chống Ồn</a>
                <a href="/tai-nghe-khong-day.html" class="sub2">Tai Nghe Bluetooth</a>
                <a href="/tai-nghe-DJ.html" class="sub2">Tai Nghe DJ</a>
                <a href="/tai-nghe-the-thao.html" class="sub2">Tai Nghe Thể Thao</a>
                <a href="/tai-nghe-choi-game.html" class="sub2">Tai Nghe Chơi Game</a>
                <a href="/tai-nghe-co-mic.html" class="sub2">Tai Nghe Có Mic</a>
            </div>
            <div class="box-sub brand">
                <h3>Thương hiệu</h3>
                <div id="brand1">
                    <a href="/tai-nghe-sony">Sony</a>
                    <a href="/tai-nghe-64audio">64 Audio</a>
                    <a href="/tai-nghe-aaw">AAW</a>
                    <a href="/tai-nghe-adl">ADL</a>
                    <a href="/tai-nghe-akg">Akg</a>
                    <a href="/tai-nghe-astell-kern">Astell & Kern</a>
                    <a href="/tai-nghe-audio-technica">Audio-technica</a>
                    <a href="/tai-nghe-auglamour">Auglamour</a>
                    <a href="/tai-nghe-aurisonics">Aurisonics</a>
                    <a href="/tai-nghe-baldoor">Baldoor</a>
                    <a href="/tai-nghe-beats">Beats</a>
                    <a href="/tai-nghe-beyerdynamic">Beyerdynamic</a>
                    <a href="/tai-nghe-bluedio">Bluedio</a>
                    <a href="/tai-nghe-bose">Bose</a>
                    <a href="/tai-nghe-campfire">Campfire</a>
                    <a href="/tai-nghe-creative">Creative</a>
                    <a href="/tai-nghe-denon">Denon</a>
                    <a href="/tai-nghe-grado">Grado</a>
                    <a href="/tai-nghe-hifiman">Hifiman</a>
                    <a href="/tai-nghe-jabra">Jabra</a>
                    <a href="/tai-nghe-sennheiser">Sennheiser</a>
                    <a href="/tai-nghe-shozy">Shozy</a>
                    <a href="/tai-nghe-shure">Shure</a>
                    <a href="/tai-nghe-1more">1More</a>
                    <a href="/tai-nghe-soundmagic">SoundMAGIC</a>
                    <a href="/tai-nghe-stax">Stax</a>
                    <a href="/tai-nghe-steelseries">SteelSeries</a>
                    <a href="/tai-nghe-superlux">Superlux</a>
                    <a href="/tai-nghe-tfz">TFZ</a>
                    <a href="/tai-nghe-vsonic">Vsonic</a>
                    <a href="/tai-nghe-westone">Westone</a>
                    <a href="/tai-nghe-xiaomi">Xiaomi</a>
                    <a href="/tai-nghe-yuin">Yuin</a>
                    <a href="/tai-nghe-zero-audio">Zero Audio</a>
                </div>
            </div>
            <div class="banner-sub-menu">{loop="$banner_header[7]"}{if="$value.title==1"}{$value.display}{/if}{/loop}</div>
        </div>
    </li>
    <li>
        <span class="box_icon_cat"><img src="/media/category/cb_a22746738a475a75211f96a98549a811.png" alt="MÁY NGHE NHẠC" class="icon-cat"/></span>
        <a href="/may-nghe-nhac.html" class="root">MÁY NGHE NHẠC</a>
        <div class="sub-nav" style="min-height: 466px;">
            <div class="left">
                <h3>Phân loại</h3>
                <a href="/may-nghe-nhac-lossless.html" class="sub2">Máy Nghe Nhạc Lossless</a>

                <a href="/may-nghe-nhac-the-thao.html" class="sub2">Máy Nghe Nhạc Thể Thao</a>


            </div>
            <div class="box-sub brand">
                <h3>Thương hiệu</h3>
                <div id="brand4">
                    <a href="/may-nghe-nhac-astell-kern">Astell & Kern</a>
                    <a href="/may-nghe-nhac-sony">Sony</a>
                    <a href="/may-nghe-nhac-aune">Aune</a>
                    <a href="/may-nghe-nhac-fiio">Fiio</a>
                    <a href="/may-nghe-nhac-ibasso">iBasso</a>
                    <a href="/may-nghe-nhac-hidizs">Hidizs</a>
                    <a href="/may-nghe-nhac-shanling">Shanling</a>
                    <a href="/may-nghe-nhac-cayin">Cayin</a>
                </div>
            </div>
            <div class="banner-sub-menu">{loop="$banner_header[7]"}{if="$value.title==4"}{$value.display}{/if}{/loop}</div>
        </div>
    </li>
    <li>
        <span class="box_icon_cat"><img src="/media/category/cb_f6c8dd5cf8f95e19e99ef874e3edc242.png" alt="LOA | SPEAKER" class="icon-cat"/></span>
        <a href="/loa.html" class="root">LOA | SPEAKER</a>
        <div class="sub-nav" style="min-height: 466px;">
            <div class="left">
                <h3>Phân loại</h3>
                <a href="/loa-di-dong.html" class="sub2">Loa Di Động</a>
                <a href="/loa-vi-tinh.html" class="sub2">Loa Vi Tính</a>
                <a href="/loa-bluetooth.html" class="sub2">Loa Bluetooth</a>
                <a href="/loa-bookshelf.html" class="sub2">Loa Bookshelf</a>
                <a href="/loa-sound-bar.html" class="sub2">Loa Soundbar</a>
            </div>
            <div class="box-sub brand">
                <h3>Thương hiệu</h3>
                <div id="brand6">
                    <a href="/loa-jbl">JBL</a>
                    <a href="/loa-sony">Sony</a>
                    <a href="/loa-harman-kardon">Harman Kardon</a>
                </div>
            </div>
            <div class="banner-sub-menu">{loop="$banner_header[7]"}{if="$value.title==6"}{$value.display}{/if}{/loop}</div>
        </div>
    </li>
    <li>
        <span class="box_icon_cat"><img src="/template/default/images/no_img.png" alt="CUSTOM IN EAR" class="icon-cat"/></span>
        <a href="/custom-in-ear.html" class="root">CUSTOM IN EAR</a>
    </li>
    <li>
        <span class="box_icon_cat"><img src="/media/category/cb_34ead602847eccffd2bc5af611a422d2.png" alt="AMP & DAC" class="icon-cat"/></span>
        <a href="/amp-dac.html" class="root">AMP & DAC</a>
        <div class="sub-nav" style="min-height: 466px;">
            <div class="left">
                <h3>Phân loại</h3>
                <a href="/headphone-amp.html" class="sub2">Headphone Amps</a>
                <a href="/dac-may-tinh.html" class="sub2">DACs</a>
            </div>
            <div class="box-sub brand">
                <h3>Thương hiệu</h3>
                <div id="brand5">
                    <a href="/amp-dac-topping">Topping</a>
                    <a href="/amp-dac-chord-electronics">Chord Electronics</a>
                    <a href="/amp-dac-aune">Aune</a>
                    <a href="/amp-dac-fiio">Fiio</a>
                    <a href="/amp-dac-jds">JDSlabs</a>
                    <a href="/amp-dac-oppo">Oppo</a>
                </div>
            </div>
            <div class="banner-sub-menu">{loop="$banner_header[7]"}{if="$value.title==5"}{$value.display}{/if}{/loop}</div>
        </div>
    </li>
    <li>
        <span class="box_icon_cat"><img src="/media/category/cb_d3306ab36c10519e174cd70561740e69.png" alt="CABLES" class="icon-cat"/></span>
        <a href="/hi-end-cables.html" class="root">HI END CABLES</a>
        <div class="sub-nav" style="min-height: 466px;">
            <div class="left">
                <h3>Phân loại</h3>
                <a href="/iem-ciem-cables.html" class="sub2">IEM/CIEM Cables</a>
                <a href="/headphones-cables.html" class="sub2">Headphones Cables</a>
                <a href="/interconnect-cables.html" class="sub2">Interconnect Cables</a>
            </div>
            <div class="box-sub brand">
                <h3>Thương hiệu</h3>
                <div id="brand3">
                    <a href="/hi-end-cables-satin-audio">Satin Audio</a>
                    <a href="/hi-end-cables-effect-audio">Effect Audio</a>
                    <a href="/hi-end-cables-oriolus">Oriolus</a>
                    <a href="/hi-end-cables-pwaudio">PWaudio</a>
                </div>
            </div>
            <div class="banner-sub-menu">{loop="$banner_header[7]"}{if="$value.title==3"}{$value.display}{/if}{/loop}</div>
        </div>
    </li>
    <li>
        <span class="box_icon_cat"><img src="/template/default/images/no_img.png" alt="PHỤ KIỆN" class="icon-cat"/></span>
        <a href="/phu-kien.html" class="root">PHỤ KIỆN</a>
        <div class="sub-nav" style="min-height: 466px;">
            <div class="left">
                <h3>Phân loại</h3>
                <a href="/may-ghi-am-chinh-hang.html" class="sub2">Máy Ghi Âm</a>
                <a href="/gia-treo-tai-nghe.html" class="sub2">Giá Treo Tai Nghe</a>
                <a href="/day-noi-dai-tai-nghe.html" class="sub2">Dây Nối Dài Tai Nghe</a>
                <a href="/giac-chia-tai-nghe.html" class="sub2">Giắc Chia Tai Nghe</a>
                <a href="/eartips-earpads.html" class="sub2">Eartip | Earpad</a>
                <a href="/pin-du-phong.html" class="sub2">Pin Dự Phòng</a>
                <a href="/Case.html" class="sub2">Case</a>
                <a href="/phu-kien-amp-dac.html" class="sub2">Phụ Kiện AMP & DAC</a>
                <a href="/the-nho.html" class="sub2">Thẻ Nhớ</a>
            </div>
            <div class="box-sub brand">
                <h3>Thương hiệu</h3>
                <div id="brand7">
                    <a href="/phu-kien-comply">Comply</a>
                    <a href="/phu-kien-spinfit">Spinfit</a>
                    <a href="/phu-kien-pelican">Pelican</a>
                </div>
            </div>
            <div class="banner-sub-menu">{loop="$banner_header[7]"}{if="$value.title==7"}{$value.display}{/if}{/loop}</div>
        </div>
    </li>
    <li>
        <span class="box_icon_cat"><img src="/media/category/cb_a8aafc2b7d451a37409bddc7ee8a18e9.png" alt="HÀNG QUA SỬ DỤNG" class="icon-cat"/></span>
        <a href="/hang-qua-su-dung.html" class="root">HÀNG QUA SỬ DỤNG</a>
    </li>
    <li>
        <span class="box_icon_cat"><img src="/template/default/images/no_img.png" alt="DỊCH VỤ" class="icon-cat"/></span>
        <a href="/dich-vu.html" class="root">DỊCH VỤ</a>
        <div class="sub-nav" style="min-height: 466px;">
            <div class="left">

                <a href="/sua-chua-tai-nghe.html" class="sub2">Sửa Tai Nghe</a>
                <a href="/ve-sinh-tai-nghe.html" class="sub2">Vệ Sinh Tai Nghe</a>
            </div>
            <div class="banner-sub-menu">{loop="$banner.header[7]"}{if="$value.title==85"}{$value.display}{/if}{/loop}</div>
        </div>
    </li>
    <li>
        <span class="box_icon_cat"><img src="/media/category/cb_a8aafc2b7d451a37409bddc7ee8a18e9.png" alt="Brand" class="icon-cat"/></span>
        <a href="/brand" class="root">BRANDS</a>
    </li>
    </ul>
</div>