<div class="clear"></div>

<p>&nbsp;</p>

<div class="container">
  <div id="product-list">
    <div class="h-title title-common">Sản phẩm đã xem</div>
    <div id="pro-viewed"></div>
  </div><!--list-brand-home-->
</div><!--container-->


<footer id="footer">

  <div class="clear"></div>

  <div id="footer-top">
    <div class="container">
      <span class="tt_ft">
        <img src="{#IMAGE_PATH#}mastercard.png" alt="mastercard"/>
        <img src="{#IMAGE_PATH#}visa.png" alt="visa" />
        <img src="{#IMAGE_PATH#}tienmat.png" alt="Tiền mặt"/>
        <img src="{#IMAGE_PATH#}ck_ft.png" alt="Chuyển khoản"/>
      </span>
      <span>Chứng nhận Website <a href="#" target="_blank"><i class="icon icon-bct"></i></a>   </span>
      <div id="newsletter" style="float:right">
        <input type="text" id="email-newsletter" placeholder="Nhập email nhận bản tin khuyến mãi"/>
        <a href="javascript:subscribe_newsletter()" class="send-newsletter">Gửi</a>
      </div>
    </div><!--container-->
  </div><!--footer-top-->


  <div class="clear"></div>
  <div class="container" style="padding:12px 0;font-size: 12px">
   Copyright © 2017 {#CURRENT_DOMAIN#}
  </div>
  <div class="clear"></div>
</footer>

<div id="toTop" class="icon icon-ontop"></div>
