<style>.nd iframe{width:100%;}</style>
<script>
  $(".nd iframe").height(($("#content-main").width()-20)*9/16);
</script>
<p class="clearfix"></p>
<div id="footer-main">
<div id="content-box">

<ul class="box-toggle">
    <li class="li-footer1">
        <h3>Xuân Vũ Audio <i class="fa fa-sort-down"></i></h3>
        <ul data-value="1">
            <li><a href="/gioi-thieu-he-thong-cua-hang">Hệ thống cửa hàng</a></li>
            <li><a href="/tuyen-dung.html">Tuyển dụng</a></li>
              <li><a href="/tai-khoan-ngan-hang">Tài khoản ngân hàng</a></li>
        </ul>
    </li>
    <li class="li-footer1">
        <h3>Chính sách và quy định <i class="fa fa-sort-down"></i></h3>
        <ul data-value="1">
            <li>
                <a href="/chinh-sach-bao-hanh">Chính sách bảo hành</a>
            </li>
            <li>
                <a href="/chinh-sach-doi-tra-hang">chính sách đổi trả hàng</a>
            </li>
            <li>
                <a href="/the-khach-hang-than-thiet">Thẻ khách hàng thân thiết</a>
            </li>
        </ul>
    </li>
    <li class="li-footer1">
        <h3>Hướng dẫn sử dụng <i class="fa fa-sort-down"></i></h3>
        <ul data-value="1">
            <li>
                <a href="/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
            </li>
            <li>
                <a href="/huong-dan-thanh-toan">Hướng dẫn thanh toán</a>
            </li>
            <li>
                <a href="/huong-dan-mua-hang-tra-gop">Hướng dẫn mua trả góp</a>
            </li>
        </ul>
    </li>
    <li class="li-footer1">
        <h3 data-value="1">Chia sẻ <i class="fa fa-sort-down"></i></h3>
        <ul>
            <div class="sharesocial">
                <a target="_blank" href="https://www.facebook.com/xuanvuaudio/"><img src="{#IMAGE_PATH#}fb-icon.png" /></a>
                <a target="_blank" href=""><img src="{#IMAGE_PATH#}yt-icon.png" /></a>
                <a target="_blank" href=""><img src="{#IMAGE_PATH#}g-icon.png" /></a>
            </div>
        </ul>
    </li>
    <li> 
        <h3 data-value="1">Hệ Thống Showroom Xuân Vũ <i class="fa fa-sort-down"></i></h3>
      	<div class="clearfix"></div>
      <div style="padding:0 10px;">
        
        <div class="info-showroom">
          <p class="name">
            <span class="title"><a href="#" class="btn-gt"><b>Xuân Vũ Láng Hạ</b></a></span>
          </p>
          <p class="address">165 Láng Hạ, Đống Đa, Hà Nội</p>  
          <p>Điện thoại:<strong><a href="tel:024 73006262"> 024 73006262</a></strong></p>                          
          <p>Hotline: <strong><a href="tel:0973652222"> 097365 2222</a></strong></p>
        </div>
        <div class="info-showroom" style="border-top:solid 1px #ddd; border-bottom:solid 1px #ddd; padding:10px 0; margin:10px 0;">
          <p class="name">
            <span class="title"><a href="#" class="btn-gt"><b>Xuân Vũ Phố Vọng</b></a></span>
          </p>
          <p class="address">67 Phố Vọng, Hai Bà Trưng, Hà Nội</p>
          <p>Điện thoại:<strong><a href="tel:024 73006262"> 024 73006262</a></strong></p>
          <p>Hotline:<strong><a href="tel:094154 2222"> 094154 2222</a></strong></p>
        </div>
        <div class="info-showroom">
          <p class="name">
            <span class="title"><a href="#" class="btn-gt"><b>Xuân Vũ Cao Thắng</b></a></span>
          </p>
          <p class="address">98 Cao Thắng, P4, Q3, Hồ Chí Minh</p>
          <p>Điện thoại:<strong><a href="tel:028 73006265"> 028 73006265</a></strong></p>
          <p>Hotline: <strong><a href="tel:097844 5555"> 097844 5555</a></strong></p>
        </div>
        
      </div>
    </li>
</ul>
<p class="clearfix"></p>
<div class="support">
    <p>BÁN HÀNG ONLINE</p>
        <p>Hotline: <strong><a href="tel:097395 3333">097395 3333</a></strong></p>
        <p>Tổng đài: <strong><a href="tel:1900636012">1900 636012</a></strong></p>
        <p>Email: sales@tainghe.com.vn</p>
    
<div>
    <a href="?show_version=pc" rel=" nofollow">
        <p class="gotopage">
                    <span class="mobile">
                        <i class="fa fa-desktop"></i>
                    </span>
            <strong>Xem bản desktop</strong>
        </p>
    </a>
  <div class="clearfix"></div>
</div>

<div id="box-icon-top">
    <img id="icon-top" src="{#IMAGE_PATH#}icon_gototop.png" />
</div>      
      
<script>
  $(function(){
  	$(window).scroll(function(){
  		if($(window).scrollTop() > 200) $('#box-icon-top').fadeIn(); else $('#box-icon-top').fadeOut();
  	});
  	$('#box-icon-top').click(function(){
  		$('body,html').animate({scrollTop:0}, 500);
  	});
  });
</script>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 966117732;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/966117732/?value=0&guid=ON&script=0"/>
</div>
</noscript>

<div style="background-color: #ff1a40;" id="footer_btn_call_mobile"> <a id="footer_btn_call_mobile_text" href="tel:0973953333"><img width="25px" src="{#IMAGE_PATH#}icon_call.png"/></a></div>