{loop="$product_list"}
<div class="autocomplete-suggestion" data-index="{$counter}" onclick="window.location='{$value.productUrl}'">
  <table>
    <tbody>
      <tr>
        <td style="vertical-align:top"><a href="{$value.productUrl}"><img src="{$value.productImage.thum}" width="50" style="margin-right:10px;"/></a></td>
        <td style="vertical-align:top; color:red; line-height:18px;"><a class="suggest_link" href="{$value.productUrl}">{$value.productName}</a><br/>
          Giá: {if="$value.price > 0"}{$value.priceFormat}đ{else}Liên hệ{/if}</td>
      </tr>
     </tbody>
  </table>
</div>
{/loop}